[2013-10-06 22:11] tonyganch opened #1 "Update documentation"
- [x] Code comments
- [x] Readme
- [x] Changelog
- [x] doc/*

[2013-10-06 22:12] tonyganch opened #2 "Move tests to another platform"
Use mocha maybe.

[2013-10-10 21:39] tonyganch commented on #2
No mocha.
- It has awful diff
- Error information sometimes is very hard to understand
- I love the idea of almost no dependencies

So I've just divided tests into different groups according to syntax (css, scss) and added logs.

[2013-10-10 21:39] #2 closed, assigned to tonyganch

[2013-10-10 21:56] tonyganch opened #3 "Pass syntax name as an argument"
Syntax name (e.g. scss) should be passed as an argument in order to:
- reduce number of unnecessary checks;
- add support for new syntaxes swimmingly.

[2013-10-10 22:02] tonyganch opened #4 "Preprocessors support"
In order of importance:
- [x] scss
- [x] less
- [x] sass
- [ ] ~~stylus~~
- [ ] ~~roole~~

[2013-10-11 06:27] tonyganch opened #5 "SCSS support"
- [x] Nested rules
- [x] Variables (`$color`)
- [x] Variables list (`$shadows...`)
- [x] Interpolated variables (`#{$nani}`)
- [x] `!default`
- [x] Parent selector (`&`)
- [x] Placeholder (`%nani`)
- [x] Single-line comments
- [x] Includes (`@include`, `@extend`)
- [x] Mixin (`@mixin`)
- [x] Arguments
- [x] Condition (`@if`, `@else`, `@if else`)
- [x] Loop (`@for`, `@each`, `@while`)

[2013-10-13 18:44] tonyganch commented on #3
Done.
See 8f17d36d90bd7305ceb6762e17ce9fdee5e65a9c

[2013-10-13 18:44] #3 closed, assigned to tonyganch

[2013-10-13 21:22] tonyganch opened #6 "LESS support"
- [x] Nested rules
- [x] Variables: `@color`
- [x] Nested variables: `@@var`
- [x] Grouped values: `(@nice-blue + #111)`
- [x] Variables list: `@rest...`
- [x] Includes (any class or id)
  - `.bordered`
  - `#bordered`
  - `.border-radius(4px)`
  - `.mixin(2) !important`
  - `#bundle > .button`
- [x] Mixins
  - `.border-radius (@radius) {...}`
  - `.border-radius (@radius: 5px) {...}`
  - `.wrap (

[2013-10-15 17:54] #5 closed, assigned to tonyganch

[2013-10-15 22:36] tonyganch opened #7 "Antitests"
Collect tests that should fail.

[2013-10-27 10:03] tonyganch opened #8 "Sass (indented syntax) support"
- [x] Blocks without `{` and `}`
- [x] Declaration delimiter is `\n` instead of `;`
- [x] Property can start with a semicolon: `:color tomato`
- [x] Comments can be indent based:

[code]
- [x] Imports can be w/o quotes: `@import nani`
- [x] Mixins: `=nani` or `= nani` (same as `@mixin nani`)
- [x] Includes: `+nani` but not `+ nani` (same as `@include nani`)

[2013-11-06 18:13] #8 closed, assigned to tonyganch

[2013-11-10 09:52] #6 closed, assigned to tonyganch

[2013-11-10 10:22] #1 closed, assigned to nobody

[2013-11-11 11:57] miripiruni commented on #4
:+1:

[2014-01-08 23:19] alebelcor opened #9 "AST documentation?"
Is there any documentation on the AST produced when parsing SCSS?

I'm having a hard time interpreting how that tree is read and how to use it.

Thanks!

[2014-01-09 13:43] tonyganch commented on #9
It's partially documented here: [AST description](https://github.com/tonyganch/gonzales-pe/blob/master/doc/AST-Description.md)
Do you have any specific questions?
I'll try to help.

[2014-01-09 16:55] alebelcor commented on #9
This is great.

I immediately went looking for the wiki pages but found none. I didn't realize there was a `doc` folder in the repo.

Thanks!

[2014-01-13 06:32] tonyganch opened #10 "Support CSS variables"

[2014-01-31 15:12] tonyganch opened #11 "Interpolations inside nth-selectors"
Interpolations (variables and other expressions) inside `nth` selectors should be parsed correctly.
Example:

[code]

[2014-01-31 15:15] tonyganch commented on #9
I'm closing the issue if you have no further questions.

[2014-01-31 15:15] #9 closed, assigned to nobody

[2014-02-24 21:29] #11 closed, assigned to nobody

[2014-02-24 21:30] tonyganch commented on #10
There is no point in supporting CSS variables if they are not even present in Chromium.

[2014-02-24 21:30] #10 closed, assigned to nobody

[2014-03-17 12:41] tonyganch opened #13 "Public methods should accept only objects"
Remove lines like this from public methods:

[code]

[2014-06-13 06:40] tonyganch opened #15 "Less: Support extend feature"
See docs: http://lesscss.org/features/#extend-feature
CSScomb related issue: https://github.com/csscomb/csscomb.js/issues/222

[2014-06-21 12:54] mishanga commented on #4
Roole is dead :(

[2014-07-02 03:13] scottmas opened #16 "filter: alpha(opacity=X) triggers "Please check the validity of the CSS...""
I am trying to process the SASS version of twitter bootstrap official and the pre-processor breaks down whenever it encounters the line "filter: alpha(opacity=X)". When I remove these lines from the source files, it works great.

[2014-07-02 15:52] tonyganch commented on #16
What version do you use?

[2014-07-03 09:36] samosad commented on #4
:+1:

[2014-07-14 15:34] tonyganch opened #17 "LESS: declarations vs atrules"
From csscomb/csscomb.js#255

[code]

Throws error:

[code]

[2014-07-18 17:24] #16 closed, assigned to nobody

[2014-07-18 17:26] tonyganch opened #19 "Errors: Add info about column number"
Related CSScomb issue: csscomb/csscomb.js#245

[2014-07-18 17:30] tonyganch opened #20 "Sass: Spaces at EOF throw error"
From csscomb/csscomb.js#243

combing (without any config file):

[code]

(on the last line are only two spaces.)

throws:

[code]

[2014-07-19 09:43] tonyganch opened #21 "SCSS: multiple classes in the same @extend throw error"
From csscomb/csscomb.js#257

[code]

Error

[code]

[2014-07-23 09:33] tonyganch opened #22 "LESS: Passing ruleset to mixin"
From csscomb/csscomb.js#266

[code]

see: http://lesscss.org/features/#detached-rulesets-feature

[2014-07-31 13:34] tonyganch opened #24 "Identifiers with digits after underscore"
From csscomb/csscomb.js#275:

[code]

`$color_0` is parsed as a variable with ident `color_` without `0`.

[2014-07-31 13:54] tonyganch opened #25 "Sass: Mixins with content"
Related CSScomb issue: csscomb/csscomb.js#270

[code]

[2014-07-31 13:57] tonyganch opened #26 "Wrong line numbers in error message when using multiline comments"
From csscomb/csscomb.js#269

Input:

[code]

Error message:

[code]

[2014-08-02 00:11] luizotcarvalho opened #27 "SCSS: values in variables and extends throw error"
Any kind of value in variables and extends throw validity error.

Scss:

`
$background-16px: url(background-16px.png);
`
or
`
@extend %background-16px;
`

throws:

`
Please check the validity of the block
`

[2014-08-02 00:20] RffaNunes commented on #27
I'm also with this problem!
I have not found a solution, can anyone help?

[2014-08-09 12:10] Splurov opened #28 "LESS: incorrect parsing of nested rules with pseudo-classes and pseudo-elements"
gonzales-pe version 3.0.0-10

[code]

AST output:

[code]

Should be:

[code]

Works as expected for SCSS syntax.

[2014-09-05 17:52] beatak opened #29 "Property name CSS hacks for IE6/IE7 is discarded."
I'm not a big fan of CSS hacks for sure, and who cares IE6 and IE7… but I just stumbled upon this.

CSS:

[code]

AST by gonzales-pe

[code]

[2014-09-07 11:43] tonyganch commented on #29
@beatak, and you propose what exactly?

[2014-09-07 16:04] beatak commented on #29
Can `#height` be `#height` instead of `height`?

[2014-09-18 21:30] beatak opened #31 "If you have a #{} interpolation in the middle of a classname of the selector, gonzales-pe seems to drop the declaration."
For example:

[code]

becomes

[code]

This should really be…

[code]

[2014-09-21 07:57] vsn4ik opened #32 "Invalid npm module version"
Hello!

Please, fix npm module version.
Invalid: 3.0.0-10.
Valid: 3.0.0.

[2014-09-21 10:16] tonyganch commented on #32
`3.0.0-10` is a valid version.
It means that stable `3.0.0` version is not released yet and `3.0.0-10` is the tenth pre-release version.
Think of it as an alpha release.
See [Semantic Versioning Specification](http://semver.org/), paragraph 9 about pre-release versions.

[2014-09-21 10:16] #32 closed, assigned to nobody

[2014-09-21 14:16] vsn4ik commented on #32
Thanks for https://github.com/csscomb/csscomb.js/commit/b68d62827265a69274c0a089ea21a150f01e7460.

[2014-10-21 08:42] varya opened #33 "Does not work with examples from README"
https://github.com/varya/gonzales-try/commit/48d20b3a968fb2d6d2528f1f838953fd35d48103

Output:

[code]

`golzales-pe` is installed locally

[2014-10-21 08:53] tonyganch commented on #33
README is written for stable version, `3.0.0-10` is not documented yet because it'll change a lot later.

[2014-10-21 08:53] #33 closed, assigned to nobody

[2014-10-21 09:34] varya opened #34 "srcToAst -> astToSrc создает дополнительные строки"
https://gist.github.com/varya/915847e2ec7b16e42d9e

[2014-10-21 09:34] varya opened #35 "srcToAst c SASS контентом теряет ; в конце строк"

[2014-10-21 09:37] tonyganch commented on #35
Я не умею ванговать по названию тикета.
Версия пакета + код, который падает + пример sass до и после, пожалуйста.

[2014-10-21 09:37] tonyganch commented on #34
Версия пакета + код, который всё ломает, пожалуйста.

[2014-10-21 09:48] varya commented on #34
Пакет 3.0.0-10

Полный код https://github.com/varya/gonzales-try/tree/76cf35a09f5c54f0fafb29d2b9f64a2ece75824a

Минимальный для воспроизводства ошибки код:

[code]

[2014-10-21 09:49] varya commented on #35
https://github.com/tonyganch/gonzales-pe/issues/34

Ну это можно проверить просто попробовать что-то написать с npm install, рекомендованном в README. То есть с последней публичной версией пакета.

[2014-10-22 11:17] varya opened #37 "Too different ASTs for SASS content"
Версия пакета 3.0.0-10, синтаксис — SASS.

Если входные данные

[code]

то AST следующий

[code]

т.е 2 декларации.

Если входные данные:

[code]

(убрана ;)

то AST:

[code]

Т.е. одна декларация.

Если здесь нет ошибки, и так и должно быть, подскажите тогда, как выбрать все переменные из AST. Сейчас я использую пакет https://www.npmjs.org/package/gonzales-ast но при такой разнице в  AST он не сп

[2014-10-22 11:48] varya opened #38 "Broken AST for SASS: Indented lines are sticked with comment"
Package 3.0.0-10

Normal case:

This input

[code]

gives this AST:

[code]

But if there in an indent in the line which follows the comment:

[code]

the AST gets broken:

[code]

[2014-10-22 11:53] tonyganch commented on #38
Because it's a valid multiline comment: http://sass-lang.com/documentation/file.INDENTED_SYNTAX.html#comments

[2014-10-22 11:53] #38 closed, assigned to nobody

[2014-10-22 11:56] varya commented on #38
My mistake, thanks! I was confused by the fact that the parsers I used to check don't take it as a comment.

[2014-10-22 11:56] tonyganch commented on #34
В дереве действительно не сохраняется информация о том, какой разделитель был в строке: перенос или точка с запятой. При переводе из дерева в строку вместо разделителя в любом случае подставляется перенос (отсюда и лишние строки). Это ошибка, которую нужно исправить. Спасибо.

[2014-10-22 11:57] tonyganch commented on #35
Закрываю как дубликат #34.

[2014-10-22 11:57] #35 closed, assigned to nobody

[2014-10-22 12:00] tonyganch commented on #37
Это ошибка.

[2014-10-23 13:22] varya opened #39 "Неудобный AST для atrules в LESS синтаксисе"
Паке 3.0.0-10.

Парсим строки с переменными препроцессоров, чтобы получить таблицу "ключ-значение".
### В варианте SCSS синтаксиса:

Input:

[code]

AST:

[code]

Удобно получить строку со всеми знаниями, потому что они объединены в value.
### Вариант LESS синтаксиса

Input:

[code]

AST:

[code]

Значения никак не объединены, а просто идут списком внутри `atrules`, получать строчку неудобно.

[2014-10-23 13:33] tonyganch commented on #39
Это вот этот баг: https://github.com/tonyganch/gonzales-pe/issues/17
Парсер для LESS порой неверно воспринимает декларации. Должно быть примерно так же, как и в scss, конечно, потому что это свойство-значение.

[2014-10-23 13:33] #39 closed, assigned to nobody

[2014-10-28 11:19] varya commented on #34
Уже понятно, когда это будет исправлено? Спрашиваю, чтобы запланировать свою работу.

[2014-11-14 12:19] varya opened #40 "~ escaping function argument in LESS is considered to be invalid"
3.0.0-10 does not allow tildas `~` in LESS

[code]

However this is LESS escaping http://webdesign.tutsplus.com/articles/get-into-less-the-programmable-stylesheet-language--webdesign-5216

[2014-11-14 15:32] varya commented on #40
I tried to fix in this PR https://github.com/tonyganch/gonzales-pe/pull/41

[2014-11-15 10:06] #40 closed, assigned to nobody

[2014-11-24 09:47] varya opened #43 "SASS: Double parenthesis in functions are considerend to be invalid"
Where: current dev
Input:

[code]

/Users/varya/WebDev/SC5/gonzales-pe/lib/src-to-ast.js:15
        throw error;
              ^
Parsing error: Please check the validity of the block starting from line #2

1 | $font-size-large: 3px;
2*| $font-size-large: ceil(($font-size-base \* 1.25))

[code]

[2014-11-24 09:55] varya opened #44 "SASS: != operator is considered to be invalid"
Where: current dev.
Input:

[code]

Output:

[code]

This code is used in Bootsrap https://github.com/twbs/bootstrap-sass/blob/d3531a6fded02ba8ecd3e2d1f987927bd414883b/assets/stylesheets/bootstrap/_variables.scss#L4 and is considered to be valid by http://sassmeister.com/

`==` works normally

[2014-11-24 11:24] varya commented on #43
Covered in PR #45

[2014-11-24 13:12] varya commented on #44
Covered in PR #46

[2014-11-27 00:38] tonyganch commented on #43
#45 has been merged into `dev`

[2014-11-27 00:38] #43 closed, assigned to nobody

[2014-12-11 13:06] varya opened #50 "Traverse is needed"
Do you think it is possible and suitable to implement `traverse` as a part of this package? I currently use `gonzales-ast` but as it was built by the time when Gonzales could only parse CSS, it can be sometimes buggy. This is an example of what I mean https://github.com/stoyan/gonzales-ast/pull/1

Having a traverse method together with the parser would guarantee the compatibility for new versions.

[2014-12-11 13:22] tonyganch commented on #50
It's possible and of course we should do this. But first I need to finish replacing old array-based ast with objects.

[2014-12-18 23:04] ignovak commented on #26
Also encountered this bug. Made a such temp fix:

[code]

[2014-12-29 08:44] vxsx commented on #27
looks related to https://github.com/csscomb/csscomb.js/issues/275

[2015-01-02 17:53] gotbahn commented on #15
Actually it works partially, u can use:

[code]

but next one still get error:

[code]

[2015-01-16 15:38] tonyganch commented on #44
Closing since #46 is merged into `dev`

[2015-01-16 15:38] #44 closed, assigned to nobody

[2015-01-16 16:11] #13 closed, assigned to nobody

[2015-01-16 16:12] #19 closed, assigned to nobody

[2015-01-16 16:37] tonyganch commented on #50
`ast.map()`: https://github.com/tonyganch/gonzales-pe/tree/dev#astmapfunction
I have no strong opinion on how the method should be called, so if you want it named `traverse` or need some changes, let me know.

[2015-01-16 16:37] #50 closed, assigned to nobody

[2015-01-19 11:42] varya commented on #50
Looks OK. Could you release 3.0.0-13?

[2015-01-22 12:58] tonyganch commented on #50
@varya, published. But please note new AST format.

[2015-01-26 14:37] varya opened #51 "Improvements to .map method needed (v 3.0.0)"
I tried new `.map` method and it looks like it needs to be improved. For example, this is the code I use to grab all the variables from the source and their values.

[code]

It turns out to be very messy code when I need to get deeper into the structure. I think something like json-path is needed here. Do you think it is possible to embed any path-router into Gonzales? Or maybe you can recommend t

[2015-01-26 19:12] tonyganch commented on #51
Would this be better?

[code]

Two new methods:
1) `ast.forEach(type, callback)` calls a function for each node of a given type
2) `ast.find(type)` returns the first child of a given type

[2015-01-26 19:14] tonyganch commented on #51
@varya, as for your example above, `ast.map.call(node, function)` can be replaced with just `node.map(function)` since `.map()` method is available for every node (including children).

[2015-01-27 11:50] varya commented on #51
Thanks. `forEach` and `find` look good.
Also, mind you. I needed to grab all the variables mentioned in values and I did this with `jspath` this way:

[code]

As I see, `forEach` and `find` will help here too.

[2015-01-28 08:55] ChrisKam opened #52 "Trying to implement new rule for scss"
Hey Tony, thank you for all your awesome work on this and on CSSComb. My question does concern CSSComb but I'm pretty sure I can solve it myself once I learn how to add a new rule to gonzales-pe, more specifically I need to differentiate between @include one-liners like

[code]

and multi-line includes like

[code]

This is actually already implemented internally by the standard checkInclude(i) fu

[2015-01-28 11:53] wvankuipers commented on #24
:+1:

[2015-01-28 12:39] tonyganch commented on #52
You can check if `include` node contains `block` in its content.
For example, from within `dev` branch:

[code]

CSScomb will be moved to `dev` branch of this parser in a week or so.

[2015-01-28 12:42] tonyganch commented on #51
It looks like magic to me :)

[2015-01-28 12:42] ChrisKam commented on #52
Thank you for your super quick response, this solves it for me! I actually did something very similiar (though ugly and hack-ish), see: https://gist.github.com/thebugs/977813e0040a4145cf9d

I will reference your answer there as well.

[2015-01-28 13:27] varya opened #53 "`.toCSS` outputs `null` for empty SL comment string"
This code

[code]

outputs

[code]

The problem exists for all the syntaxes.

[2015-01-28 13:53] varya commented on #53
This PR should fix that https://github.com/tonyganch/gonzales-pe/pull/54
But I did not find where to add a test for different cases of `.toCSS`.

[2015-01-28 13:59] tonyganch commented on #53
You can name test file `test/scss/stylesheet/issue-53.scss`, for example.

Thank you for PR.
I'm just not sure the issue should be fixed this way. I suppose there should be no `null` values in content at all.

[2015-01-28 14:07] #52 closed, assigned to nobody

[2015-01-28 14:15] varya commented on #53
I tried to make it so that node constructor would return `''` instead of null for empty things but it broke many tests. Somewhere deeply inside content cannot be an empty string.

[2015-01-28 20:02] varya commented on #53
I've changed that pull request so that nulls are not in the AST anymore. But this made me fixed all the tests. I did the fix automatically with `sed`, so it should be OK.

[2015-01-28 20:09] tonyganch commented on #53
You can run `./bin/generate-tests.js <syntax_name>` in such cases:
https://github.com/tonyganch/gonzales-pe/blob/dev/bin/generate-tests.js

[2015-01-28 20:10] varya commented on #53
Good to know :-)

[2015-01-31 10:23] #53 closed, assigned to nobody

[2015-02-04 12:23] varya commented on #51
Am I right that my problem can now be solved with `ast.forEach` and `ast.first`?

[2015-02-05 08:34] tonyganch commented on #51
Here is what I get:

[code]

Is it ok for you?

[2015-02-05 09:24] varya commented on #51
We will try the new methods and give our feedback in a while.

[2015-02-05 13:17] kty opened #56 "Variable interpolation in SCSS not supported"
Variable interpolation in SCSS doesn't seem to be supported.

Example code:

[code]

Results in "Parsing error: Please check the validity of the block starting from line #XXX".

[2015-02-05 14:37] tonyganch commented on #56
Fixed in `dev` branch: b9b21810636

[2015-02-05 14:37] #56 closed, assigned to nobody

[2015-02-05 14:41] tonyganch commented on #31
What I think there should actually be is:

[code]

[2015-02-05 15:55] tonyganch commented on #34
Проверила: точка с запятой является невалидным разделителем в `sass` синтаксисе. То есть в объекте с опциями нужно передавать `syntax: 'scss'`, а не `syntax: 'sass'`. Посему закрываю тикет.

[2015-02-05 15:55] #34 closed, assigned to nobody

[2015-02-06 15:12] kty commented on #56
Wow, that was almost immediate, thanks!
Just so you know, variable interpolation still isn't supported in media queries, e.g. the `#{$orientation}` part in:

[code]

[2015-02-13 13:53] tonyganch commented on #24
Should be fixed in `dev`

[2015-02-13 13:53] #24 closed, assigned to nobody

[2015-02-13 13:55] tonyganch commented on #27
Should be fixed in `dev`

[2015-02-13 13:55] #27 closed, assigned to nobody

[2015-02-13 14:02] tonyganch commented on #26
Fixed in `dev`

[2015-02-13 14:02] #26 closed, assigned to nobody

[2015-02-15 18:02] lkraav commented on #28
So this is why I'm seeing

[code]

becomes consolidated, because csscomb thinks a:hover is a rule property.

[code]

[2015-02-19 08:10] paazmaya commented on #4
:+1:

[2015-02-25 17:52] jrweinb opened #57 "Python Includes {% are invalid block"
Gonzales, as a dependency of csscomb, breaks on python scss includes

[2015-02-25 18:24] tonyganch commented on #57
Yes, because python interpolations are not part of scss syntax.
Related: csscomb/csscomb.js#260

[2015-02-25 18:24] #57 closed, assigned to nobody

[2015-02-26 19:50] jrweinb commented on #57
@tonyganch - For my own project, I forked Gonzales and solved the problem. Would this be a valid feature for a pull request, or are you not interested because it is not part of the scss syntax?  Most Python projects that I have worked on use Python style includes in their scss files, which cause either Gonzales or csscomb to break...these tools are so critical to our workflow in a large team, I wo

[2015-03-17 23:45] tdogg137 commented on #24
Hello, I'm running into this same issue with a variable name $color-gray-light-20 and I'm wondering if the fixes have been in.  This is what I am using for the styleguide generator https://www.npmjs.com/package/sc5-styleguide#with-gulp

[2015-03-19 07:22] wvankuipers commented on #24
@tonyganch Any news on when this will ship to master?

[2015-03-25 21:53] jamie-pate commented on #4
Um, so, any partial work on stylus? Trying to use SC5 styleguide generator + stylus :(

[2015-03-26 09:34] tonyganch commented on #4
@jamie-pate, no, sorry, I'm not planning to add support for Stylus in near future.
[See this comment.](https://github.com/csscomb/csscomb.js/issues/159#issuecomment-48598982)

[2015-03-30 13:39] junaidrsd opened #59 "Sass variable parsing error"
This is valid SASS LESS syntax should be parsed without problem
Parsing error: Please check the validity of the block starting from line 23

23\* | $palette-color-1: #ffcf3c;

Gonzales PE version: 3.0.0-16
Syntax: scss

[2015-03-31 09:19] varya commented on #59
In SASS ending `;` is not allowed. You can check it here http://sassmeister.com/ (choose SASS, not SCSS in the preferences of the page). With that you will get `Invalid CSS after "#ffcf3c": expected expression (e.g. 1px, bold), was ";"`

[2015-03-31 09:53] junaidrsd commented on #59
The problem is not semicolon here the problem starts with variable name ending with '-digit' in this case $palette-color-1. which is acceptable by SASS, SCSS and LESS but gonzales-pe is not accepting it. It seems issue has been fixed in dev.

[2015-04-08 08:27] hannu opened #60 "#{} interpolation does not work with @media query"
Gonzales-pe is unable to parse definition when #{} interpolation is used with the media query
The following input breaks the parsing:

[code]

[code]

[2015-04-28 13:38] ivnmaksimovic commented on #60
+1

[2015-05-06 21:58] bassettsj opened #61 "`extend #{$variable};` parse error in SCSS"
Gonzales is having a hard time parsing an `@extend` with string interpolation for SCSS, see below.

[code]
### Related
- #31
- #60

[2015-05-07 15:35] kyranjamie commented on #61
+1

Current solution is to ignore affected files from the glob with `!` prefix (when using gulp plugin)

[2015-05-10 05:08] darcyclarke commented on #4
Stylus should be pretty easy to support and or you can just use Stylus itself once [this Pull Request](https://github.com/stylus/stylus/pull/1915) goes through. I need Stylus support for my own project and noticed that, although they create an internal AST, they simply weren't exposing the object to the `render`'s callback.

Obviously the mappings/terminology may be different from what **gonzales*

[2015-05-11 11:47] varya commented on #61
+1 Suffer from this too

[2015-05-12 20:04] tonyganch commented on #61
Should be fixed in `dev`, available via `3.0.0-27`

[2015-05-12 20:04] #61 closed, assigned to nobody

[2015-05-12 20:04] tonyganch commented on #60
Should be fixed in `dev`, available via `3.0.0-27`

[2015-05-12 20:04] #60 closed, assigned to nobody

[2015-05-12 20:06] tonyganch commented on #59
Fixed in `dev`, available as version `3.0.0-27`

[2015-05-12 20:06] #59 closed, assigned to nobody

[2015-05-12 20:07] tonyganch commented on #51
@varya, can the issue be closed?

[2015-05-12 20:55] tonyganch opened #62 "[sass] Declaration is parsed as a ruleset"
From https://github.com/csscomb/csscomb.js/issues/333

[code]

`background #ccc` is getting parsed as a ruleset with selector only, no block

[2015-05-13 06:00] batizhevsky opened #63 "Prefix tests fail (dev branch)"
[code]

[2015-05-13 09:38] tonyganch opened #64 "Support /deep/ selector"

[2015-05-13 10:57] tonyganch commented on #63
I see all tests passed both locally and on Travis: https://travis-ci.org/tonyganch/gonzales-pe

[2015-05-13 11:06] batizhevsky commented on #63
OS X 10.10

[code]

Could you help me? What I need to check in my system?

[2015-05-13 11:06] #63 closed, assigned to nobody

[2015-05-13 11:20] batizhevsky opened #65 "[SASS] multiple selectors in new lines"
[code]

output:

[code]

As you can see, parser break last selector in separate group.

As result csscomb breaks on this example:

[code]

[2015-05-13 11:21] tonyganch commented on #63
For some reason it looks like a problem with parser's code, not your system.
Both (node 0.10 and 0.11) and (npm 1.4 and 2.1) work fine for me.
Could you please make sure that you have the latest commits pulled (the last one is 727817d) and there are no changes in the repo?
`npm test` should run 3 + 1095 tests in total (+ 4 pending). Does it correlate with the output you get?

[2015-05-13 11:35] batizhevsky commented on #63
Oh, thank you! Something strange was with my repo copy, now all ok)

[2015-05-15 05:51] batizhevsky opened #66 "Parse block with curly braces failed [sass]"
[code]

[code]

[2015-05-15 11:48] prayerslayer opened #67 "Syntax SCSS fails on Travis?"
Hi, I just can’t figure out why this happens. My code is [here](https://github.com/symdiff/symdiff-sass/tree/gonzales).

Running the tests locally works:

[code]

However [on Travis](https://travis-ci.org/symdiff/symdiff-sass/builds/62688809) I get the message that `Syntax SCSS is not supported yet`.

[code]

Do you have an idea why this happens? The `gonzales-pe` version is the same. Overwriting

[2015-05-16 10:58] tonyganch commented on #67
@prayerslayer, try replacing `SCSS` with `scss`.

[2015-05-16 11:30] prayerslayer commented on #67
Thanks, that works. But do you have an explanation why it worked locally then?

----- Ursprüngliche Nachricht -----
Von: "Tony Ganch" notifications@github.com
Gesendet: ‎16.‎05.‎2015 12:58
An: "tonyganch/gonzales-pe" gonzales-pe@noreply.github.com
Cc: "Nikolaus Piccolotto" prayerslayer@gmail.com
Betreff: Re: [gonzales-pe] Syntax SCSS fails on Travis? (#67)

@prayerslayer, try replacing SCSS with s

[2015-05-16 17:04] tonyganch commented on #67
Your OS is case insensitive while OS on Travis is case sensitive.

When you use `syntax` option, Gonzales requires files within a same-named directory.
For example, when you write `syntax: 'SCSS'` it requires a module within `lib/SCSS` directory (uppercase) while the dir's name is actually `lib/scss` (lowercase).
While it may be ok locally, it does not work for Travis.

[2015-05-16 17:04] #67 closed, assigned to nobody

[2015-05-16 19:11] tonyganch commented on #66
Sure, curly braces are invalid for `sass` syntax.

[2015-05-16 19:11] #66 closed, assigned to nobody

[2015-05-17 11:41] prayerslayer commented on #67
Makes sense :+1: Maybe you could convert the syntax to lowercase then before `require`ing anything?

[2015-05-17 22:08] tonyganch opened #68 "[scss] Interpolations"
Interpolations should be parsed correctly almost everywhere when `ident` is ok.

https://github.com/csscomb/csscomb.js/issues/271

[2015-05-24 13:00] gmac opened #69 "Update docs to match current codebase"
I think I'm using v3.0 correctly, although it's difficult to say for sure.

[2015-05-24 15:53] tonyganch commented on #69
v3.0 is unstable and not published yet: `3.0.0-x` versions are released for testing purpose only.
API is still about to change and you should not actually rely on it.
I'll update docs once stable version is out.

[2015-05-24 15:53] #69 closed, assigned to nobody

[2015-05-24 21:14] gmac commented on #69
:+1: thanks, and good work on this parser!

[2015-05-25 02:58] gmac opened #70 "[scss] function calls within interpolation"
The following Sass:

[code]

Results in the following error:

[code]

It appears the function calls are not parsed within interpolations. Thanks, and great work on this tool.

[2015-05-25 09:43] tonyganch commented on #70
Fixed in `dev`. Thank you!

[2015-05-25 09:43] #70 closed, assigned to nobody

[2015-05-26 16:31] gmac commented on #70
Wow, fast turnaround. Thank YOU!

[2015-05-26 17:26] #64 closed, assigned to nobody

[2015-05-26 17:54] tonyganch commented on #37
Fixed in `dev`

[2015-05-26 17:54] #37 closed, assigned to nobody

[2015-05-26 19:06] tonyganch commented on #65
Fixed in `dev`

[2015-05-26 19:06] #65 closed, assigned to nobody

[2015-05-26 19:09] tonyganch commented on #62
@leonko, why is there no `:` between `background` and `#ccc`?

[2015-05-26 19:55] tonyganch commented on #28
Fixed in `dev`

[2015-05-26 19:55] #28 closed, assigned to nobody

[2015-05-26 19:58] tonyganch commented on #25
Fixed in `dev`

[2015-05-26 19:58] #25 closed, assigned to nobody

[2015-05-26 20:12] tonyganch commented on #22
Fixed in `dev`

[2015-05-26 20:12] #22 closed, assigned to nobody

[2015-05-27 01:04] gmac opened #71 "Parser failure with empty input"
I read an empty input file (contains zero characters), and parse the contents. Results:

[code]

I think it would make more sense for the parser to pass-through empty contents rather than erring. Otherwise, all input must be prepended with a `//\n` (empty line comment) for safe parsing.

[2015-05-27 05:00] batizhevsky commented on #62
yes, my mistake.
Thank you for maintaining and development great product!

[2015-05-27 07:07] #62 closed, assigned to nobody

[2015-05-27 07:22] tonyganch commented on #71
I’m not sure about this one.
I think returning an empty space is technically wrong, because you can’t parse nothing (an empty string) as something that actually isn’t there (a space node). That’s a lie, you know :elephant:
I think js api should work with non-empty strings only and if some tool works with file content, it should handle empty content in a way that’s more suitable for this tool. For

[2015-05-27 08:11] tonyganch commented on #20
Fixed in `dev`

[2015-05-27 08:11] #20 closed, assigned to nobody

[2015-05-27 19:01] gmac commented on #71
Given that compilers allow empty files to be parsed (into empty strings), I'd expect a lexical analysis tool to match this behavior. I agree that returning a `space` node may not be the most appropriate node type, but those are semantics. The primary objective here is to return a valid AST Node for any input that would be valid for a compiler – otherwise, it feels odd that we can blindly read file

[2015-05-27 19:09] gmac commented on #71
Oh – duh. The obvious answer: what if this circumstance yields an empty `stylesheet` node? That would be a sensible result... when I submit an empty stylesheet string, I get back a `stylesheet` node with zero children.

[2015-05-27 19:14] gmac commented on #71
Pull request updated: empty string yields empty stylesheet node.

[2015-05-27 19:20] tonyganch commented on #71
That sounds ok :)

[2015-05-30 21:01] gmac commented on #71
PR went through, thanks! Excited to see this maturing into a stable and robust tool.

[2015-05-30 21:01] #71 closed, assigned to nobody

[2015-06-02 09:29] mel0mani4 commented on #68
Hello, do you know when this issue will be fixed ? Because it prevents me from using SC5 Styleguide Generator on my platform :'(
Thank you very very much in advance...

[2015-06-02 09:31] #51 closed, assigned to nobody

[2015-06-04 20:27] stramel opened #74 "LESS percentage error"
This is related to issue csscomb/csscomb.js#389.

While calling first with the parameter and the content of 100 on a percentage node you get the error

[2015-06-05 09:30] tonyganch commented on #68
@mel0mani4, can you give me a sample code that fails for you, please? It'll help me write a test and fix this issue faster.

[2015-06-05 10:04] mel0mani4 commented on #68
I had this problem by adding KNACSS and Bourbon code in my project.

Every interpolated variables inside braces (not as selectors) gave me errors, whether it is the "TypeError:
Cannot call method 'toCSS' of undefined" (with KNACSS' interpolations inside braces, in
its _03-grids.scss file) or simply "Parsing error: Please check the validity of the block starting from line #68" (with all the Bourbon

[2015-06-06 00:11] tonyganch commented on #15
Fixed in `dev`

[2015-06-06 00:11] #15 closed, assigned to nobody

[2015-06-07 19:44] ferrarit opened #75 "LESS: using interpolated variables as selector names"
The following valid less code, throws a parse error

[code]

[2015-06-09 11:34] immist opened #76 "LESS: nested parentheses throw parsing error"
Given the following valid LESS Code

[code]

Gonzales PE throws the following parsing error

[code]

Edit: the following code fragments also throw a parsing error

[code]

and

[code]

[2015-06-09 14:08] igoratron commented on #68
It seems to me gonzales is struggling to understand interpolated property names. See the following SCSS example:

[code]

Running this through gonzales throws `Error: Please check the validity of the CSS block starting from the line #1`. Any thoughts on this?

[2015-06-09 15:11] immist opened #77 "LESS: ease-out function throws parsing error"
Given the following valid LESS code

[code]

Gonzales PE throws the following cryptic parsing error

[code]

[2015-06-10 15:15] stramel commented on #74
@tonyganch Is this still an issue? It doesn't appear that it is since csscomb/csscomb.js#389 was closed out.

[2015-06-10 15:15] #74 closed, assigned to nobody

[2015-07-04 05:36] aquach commented on #76
I made a PR for this: #78. Seems to work when I tested it manually. I'm hoping to get it to work with csscomb so it doesn't barf on my valid LESS.

[2015-07-04 11:55] goganchic opened #79 "Wrong property-value recognistion in sass"
In such simple sass code fragment:

[code]

if there is no space between ':' and property value - these tokens should be a selector, but now it is recognised as property and value. So, parser produces wrong AST.
I looked at original ruby sass, and http://sass-lang.com/ site and found that in your sass code you have to add space after ':' if it is a property-value pair. If you skip space - line sho

[2015-07-04 15:53] tonyganch commented on #79
I tried it here: http://sassmeister.com/

[code]

[2015-07-04 15:57] tonyganch commented on #79
And one more example:

[code]

I guess the only thing that helps you define a selector is a nested block.
I'll take a look at tests, thank you for noticing.

[2015-07-04 21:26] goganchic commented on #79
And what if you have no nested block?

[code]

what is it? selector or property-value pair? Ruby sass says that it is an empty selector.

[2015-07-04 21:38] goganchic commented on #79
[code]

gives error "property "div" must be followed by a ':' on line 2 at column 5" (it detects property, not selector) with libsass and outputs nothing with sass 3.4.14 (WARNING on line 2: This selector doesn't have any properties and will not be rendered. WARNING on line 3: This selector doesn't have any properties and will not be rendered.) - it detects selectors on line 2 and 3. So, libsass &

[2015-07-16 19:10] tonyganch commented on #76
Fixed in `dev`

[2015-07-16 19:10] #76 closed, assigned to nobody

[2015-07-22 17:51] ayjee commented on #15
@tonyganch, any update on when this feature will be released?  I am attempting to use it via the example on the less documentation and it is still failing.

[code]

[2015-07-27 17:25] rolebi commented on #17
Really annoying bug. It has became really common to have this kind of rules in LESS files :/

[2015-08-06 05:33] danoc commented on #68
Also running into the issue that @igoratron described. Has anyone looked into it? I'm exploring a fix.

[2015-08-06 21:47] danoc commented on #68
Pretty sure I found the fix. Will write some tests and submit a PR in the next few days.

[2015-08-17 12:56] karlhorky commented on #68
I would like this to be fixed as well. @danoc did you get any further with the fix?

[2015-08-17 18:49] danoc commented on #68
@karlhorky – Just created a PR with the fix. https://github.com/tonyganch/gonzales-pe/pull/80

[2015-08-17 19:02] karlhorky commented on #68
Awesome, thanks!

[2015-08-17 20:31] danoc opened #81 "Doesn't support `!global` in SCSS"
`!global` was [introduced in Sass 3.3.0](http://sass-lang.com/documentation/file.SASS_CHANGELOG.html) and breaks in gonzales-pe.

**Example:**

[code]

**Output:**

[code]

[2015-08-17 22:57] danoc opened #83 "Percent sign is not considered an operator in SCSS"
The following example doesn't work in the SCSS parser:

`$var: 2 % 10;`

I've found a fix and will submit a pull request.

[2015-08-17 23:33] danoc opened #85 "Concatenation does not work within `url` in SCSS"
The follow code does not product the correct output.

**Input:**

[code]

**Output:**

[code]

_Tip: Search for `uri` and look at the broken value._

---

This one doesn't work and throws an error:

[code]

I dug through the source code but couldn't figure it out quickly. Seems to be an issue with `getUri` in `scss/parser.js`.

[2015-08-17 23:40] danoc commented on #85
Investigating a little more and I think the error is in `checkUri1`.

[2015-08-17 23:51] danoc commented on #85
Almost positive that the first error is in these lines:
https://github.com/tonyganch/gonzales-pe/blob/cf52065c2140de9d64a3af2ead79bb5dfa21ef9e/src/scss/parse.js#L3318-L3320

I don't have time to look into this deeper, but @tonyganch, would you happen to know offhand?

[2015-08-18 07:21] tonyganch commented on #85
There are two "valid" types of urls:
(1) `url(` + optional space + string inside quotes + optional space + `)`;
(2) `url(` + optional space + anything except space, tab or newline + optional space + `)`.

As you see, the content of parentheses does not get parsed as arguments: there is no check for possible operators or even interpolations inside `getUri` function.
For `scss` syntax this is a bug,

[2015-08-19 10:34] tonyganch commented on #81
Fixed with #82 in `dev`.

[2015-08-19 10:34] #81 closed, assigned to nobody

[2015-08-19 10:38] tonyganch commented on #83
Fixed with #84 in `dev`

[2015-08-19 10:38] #83 closed, assigned to nobody

[2015-08-20 08:18] varya opened #86 "Sass variable interpolation breaks parser"
A error is thrown for SASS syntax. Gonzales-PE, version 3.0.*

Parsing error: Please check validity of the block starting from line #247

[code]

Seems that the parser does not support sass variable interpolation.

[2015-08-20 08:21] varya commented on #86
Duplicate of https://github.com/tonyganch/gonzales-pe/issues/31

[2015-08-20 16:18] Snugug opened #87 "Nested Traverse"
I'm working on writing a linter based off of this and I've run in to an issue; there is a need to be able to traverse a node all the way down the tree. Currently, `forEach` and `contains` only works for a given node's first-level content, but not all the way down the tree, meaning that if I want to find a node deeply nested inside a specific node, I can't.

Take, for example, nested selectors in S

[2015-08-20 18:38] tonyganch commented on #87
You can now accomplish this with:

[code]

Is this enough, or you still need `traverseByType` function?

[2015-08-20 18:39] tonyganch commented on #87
Please-please be careful with `dev` branch, because api still can change a bit.

[2015-08-20 19:10] Snugug commented on #87
`traverseByType` would be nice for my use case, but not required.

Thanks for the warning; I'll be sure to lock to known good versions. And thanks for your work!

[2015-08-22 15:41] tonyganch commented on #31
Fixed in `dev`. Simplified tree for example from description:

[code]

[2015-08-22 15:41] #31 closed, assigned to nobody

[2015-08-22 15:45] tonyganch commented on #86
This is not a duplicate, I'll take a look

[2015-08-22 15:49] tonyganch commented on #68
Fixed in `dev` :cherries:

[2015-08-22 15:49] #68 closed, assigned to nobody

[2015-08-22 15:53] karlhorky commented on #68
Thanks @tonyganch !

[2015-08-22 19:05] tonyganch commented on #86
Should be ok in `dev` branch

[2015-08-22 19:05] #86 closed, assigned to nobody

[2015-08-22 19:31] tonyganch commented on #79
As for original example:

[code]

Here is a simplified tree, from `dev` branch:

[code]

As you can see, `fieldset:last-child` gets parsed as a selector.
So I'm closing the issue as fixed in `dev`.

[2015-08-22 19:31] #79 closed, assigned to nobody

[2015-08-23 08:01] goganchic commented on #79
Thanks a lot!

[2015-08-23 18:23] minamarkham opened #88 "Sass: comments after commas"
in [Sass Lint](https://github.com/sasstools/sass-lint)

[code]

throw error

[code]

Removing the comments resolves the error.

[2015-08-23 18:36] tonyganch commented on #88
@minamarkham, what version of gonzales do you use?

[2015-08-23 18:53] minamarkham commented on #88
Per Sass Lint's [package.json](https://github.com/sasstools/sass-lint/blob/master/package.json)

"gonzales-pe": "^3.0.0-31"

+@snugug

[2015-08-23 19:22] tonyganch commented on #88
Fixed in `dev` :cherries:
I'm not closing the issue to make sure later if the fix is needed for other syntaxes as well.

[2015-08-24 10:08] jameslawson opened #89 "SCSS: Clip rect throws an error"
.x {
  clip: rect(1px,1px,1px,1px);
}

[2015-08-24 10:24] #89 closed, assigned to nobody

[2015-08-24 12:07] Snugug commented on #87
I've got this working. Thanks!

[2015-08-24 12:07] #87 closed, assigned to nobody

[2015-08-24 12:08] Snugug commented on #88
Thanks Tony! Once a new release is rolled I'll roll it in.

[2015-08-24 12:11] Snugug opened #90 "Brace Node Type"
I may have [missed it](https://github.com/tonyganch/gonzales-pe/blob/dev/doc/node-types.md) but I'm looking for a brace node type for my Sass Lint project in order to provide linting around it. Is there one that I've missed? If not, may I request one be added?

Thank you!

[2015-08-24 12:18] tonyganch commented on #90
`braces` were renamed to `brackets` (`[]`) and `parentheses` (`()`). Also there are `arguments` which assume there are parentheses around.
Does this answer your question?

[2015-08-24 12:22] tonyganch commented on #90
Some links to tests as examples:
- arguments: https://github.com/tonyganch/gonzales-pe/tree/dev/test/scss/arguments
- brackets: https://github.com/tonyganch/gonzales-pe/tree/dev/test/scss/brackets
- parentheses: https://github.com/tonyganch/gonzales-pe/tree/dev/test/scss/parentheses

[2015-08-24 12:24] tonyganch commented on #90
I'm very sorry that documentation in `dev` branch is still so poor :(

[2015-08-24 13:17] Snugug commented on #90
I'm specifically looking for curly braces {} and where they occur in the document.

Once I get my initial release out the door I'm happy to help with documentation.

[2015-08-24 13:24] shellscape opened #91 "Request: Intelligently report parse errors"
The lesshint project is using this module and is discussing https://github.com/lesshint/lesshint/issues/43 how to handle parse errors that gonzales-pe throws. While the module is helpful in that it gives a line number for a bad parse, it's not very helpful in informing the user why it's a bad parse. For instance:

`Error: Please check the validity of the CSS block starting from the line #`

On the

[2015-08-24 13:46] tonyganch commented on #90
Oh, there is no `braces` type, sorry.
There are: `block`, `atruleb` and `atruler`.

[2015-08-24 13:47] tonyganch commented on #91
Can you give an example of a user-friendly error message, please?

[2015-08-24 13:48] tonyganch commented on #91
I'm open to ideas how to rename the module :)

[2015-08-24 13:55] shellscape commented on #91
sure thing! here's the output from lessc for a parse error:

[code]

[2015-08-24 14:23] tonyganch commented on #91
I think such errors would be nice. And though I can't make a quick fix for this (unfortunately), I will sure think of how to implement this.

[2015-08-24 14:26] shellscape commented on #91
Great, thanks for considering it!

[2015-08-24 15:16] Snugug commented on #90
May I request a `braces` type then?

[2015-08-24 15:50] tonyganch commented on #90
And you can't use `block`, because... ?
I'm bad at describing things maybe, `atruleb` and `atruler` both have `block` inside.
So `block` == basically anything inside `{...}`, no matter where you meet it.
That's what you need, right? Or do I miss something?

[2015-08-24 15:57] tonyganch opened #92 "Rename `atrulerq` to `block`"

[2015-08-24 16:05] Snugug commented on #90
I specifically need the location of the `{}` so I can understand where they're placed and what's surrounded by them. I can look at `block` and see if I can parse the info I need from that.

[2015-08-24 16:36] tonyganch commented on #90
Here is csscomb's implementation of "space before an opening brace":
https://github.com/csscomb/csscomb.js/blob/dev/src/options/space-before-opening-brace.js#L39
Maybe it will be of some help to you.

[2015-08-24 21:00] Snugug commented on #90
Yah, I can probably work off of that. Prefer not to make assumptions where possible, but yah I can do that.

Thank you!

[2015-08-24 21:00] #90 closed, assigned to nobody

[2015-08-24 22:04] beatak commented on #31
NICE

[2015-08-26 04:40] shellscape commented on #75
@tonyganch I'm getting the same thing. why does that occur?

[code]

[2015-08-31 07:08] ghost commented on #60
@tonyganch can you please explain, how one can install 3.0.0-27? There is no release with this version and I don't know how to build npm projects.

[2015-08-31 07:30] tonyganch commented on #60
@thomas-koch-comsolit, you can install it with `npm install gonzales-pe@3.0.0-27`.
But can I ask you to wait for two weeks for a stable 3.0 release instead? I will remove all beta `3.0.0-xx` versions from npm then.

[2015-08-31 22:37] davidgilbertson commented on #85
I'm having the same issue, originally [logged in the sass-lint repo](https://github.com/sasstools/sass-lint/issues/63) as well.

[2015-09-07 10:08] igoratron commented on #68
Excellent news, @tonyganch! Any idea when this will be released?

[2015-09-10 22:35] danoc commented on #68
Thanks for all the hard work, @tonyganch!

Have you written/spoken about this project? I'd love to learn more about it.

[2015-09-14 09:44] laurencedorman opened #93 "SCSS: map-get() with interpolation throws error"
Hi, I'm using [csscomb](https://github.com/csscomb/csscomb.js) which depends on this project, and there appears to be an edge case which is causing problems in my code:

[code]

Sass obliges me to interpolate a variable within a calc(), and csscomb is fine with this; the problem only presents itself when I use a sass-map.

[2015-09-16 09:54] ejulianova commented on #28
Hello, @tonyganch! I was wondering if you have plans to release a new version officially anytime soon (including this fix)?

[2015-09-16 10:20] Snugug opened #94 "Roll a Release"
Hey Tony!

We've got some items that are blocked on some things that we've talked about are fixed in `dev`. Is there an ETA for a new release?

[2015-09-19 06:07] dane-harnett opened #95 "Cannot parse scss variables with "url" in the name with a comment following"
Parse error occurs on the following snippet:

[code]

[2015-09-23 13:41] tonyganch commented on #94
Hey!
I'm very sorry to keep you waiting. I'll be back in a week and finish docs. That's all that left for the release.
:elephant:

[2015-09-23 13:51] Snugug commented on #94
Great, thank you!

[2015-09-28 17:55] DanPurdy commented on #95
Hi there,
I'm also seeing something similar. Currently seeing some strange parse error with certain selector names when comments are present within a block

[code]

Interestingly no parse error is present for the following:

[code]

The only thing having changed is the name of the selector removing a `-` though if the selector doesn't contain the word url with that symbol it acts perfectly fine.

[2015-09-29 09:58] cgtm commented on #86
@tonyganch Would this issue also be present for scss format? If yes, does the commit above cover scss?

[2015-09-29 11:41] tonyganch commented on #86
@cgtm, the issue with pseudo-elements didn't affect scss files. So no, this fix is not valid for scss format.
Do you have trouble with interpolations in scss? Here are some related issues:
https://github.com/tonyganch/gonzales-pe/search?q=interpolation&type=Issues&utf8=✓

[2015-10-02 07:54] cgtm commented on #68
@tonyganch I'm running the dev branch (currently 3.0.0-31) and I'm seeing the same problem as @igoratron did above. Specifically, the following code produces an error with the same message as Igor's.

[code]

You message above implies this should be fixed now. Is there a more recent version than the one I'm using? Many thanks for any help.

Further: more digging shows my gonzales-pe/lib/scss/parse

[2015-10-04 23:19] tonyganch commented on #94
@Snugug, just a little update on the issue.
I've published `gonzales-pe@3.0.0-beta`.
Though it lacks documentation on parse tree, it contains all the breaking changes.
It means that other issues will be closed as patches and they will be backwards compatible.

I'm in the process of writing docs, once they are ready, I'll roll a stable `@3.0.0`.
If you notice anything awful by that time (or have an

[2015-10-04 23:27] Snugug commented on #94
Awesome, thank you! I'll take a look and see what happens to Sass Lint.

Thank you so much for your work!

[2015-10-05 13:57] cgtm opened #96 "[SCSS] 3.0.0-beta issues"
Hi,

I have the following code that is throwing the parser with "Warning: Parsing error at FILENAME: Please check validity of the block starting from line …"

Here's the beginning of the file, and the line that is mentioned in the error message is marked with ***:

[code]

If I remove the ampersand before .img, it gets further but dies on the next line with an ampersand ( .ie7 &). Any idea what's

[2015-10-05 14:01] tonyganch commented on #96
I'll take a look, thank you for report.

[2015-10-05 14:01] cgtm commented on #96
Just added another bit to the end of my comment above. Thanks!!

[2015-10-05 14:08] tonyganch commented on #96
In case you're interested, the problem is with parsing of selectors.
This line in particular: https://github.com/tonyganch/gonzales-pe/blob/dev/src/scss/parse.js#L3764
While checking if a substring is a type selector, I assume it may be an asterisk, an ident (just a word) or an interpolation.
What there should be is one more check for parent selector.
I guess I've somehow managed to have no tests

[2015-10-05 14:11] cgtm commented on #96
I'm converting quite a sizeable scss project from ruby sass to libsass via sass-lint. Is it helpful for me to continue to report problems of this nature?

[2015-10-05 14:18] tonyganch commented on #96
Yes!

[2015-10-05 14:24] cgtm commented on #96
Looks like percent sign throws it off too:

[code]

[2015-10-05 14:25] cgtm commented on #96
The plus sign is throwing it here:

[code]

[2015-10-05 14:28] cgtm commented on #96
An id of an interpolated value throws it:

[code]

[2015-10-05 15:20] jantimon commented on #96
Just ran in the same issues when porting a codebase - here is one which hasn't been mentioned before:

[code]

[2015-10-06 05:54] benthemonkey commented on #96
And another (issue is at line 4):

[code]

[2015-10-06 06:11] cgtm commented on #96
Last one from me! The immediate descendent selector (>) is throwing the parser off in here:

[code]

[2015-10-06 06:23] cgtm commented on #96
Weird. The issues reported by jantimon (https://github.com/tonyganch/gonzales-pe/issues/96#issuecomment-145567168) and benthemonkey (https://github.com/tonyganch/gonzales-pe/issues/96#issuecomment-145748834) don't cause any problems for me. Well, to the extent that I pasted their example code into my project and it didn't throw the parser.

[2015-10-06 06:43] jantimon commented on #96
Maybe we could create a pull request and add the erros from above to the unit tests - so the bugs are easier to reproduce and to fix:
https://github.com/tonyganch/gonzales-pe/tree/master/test/scss

[2015-10-06 06:58] tonyganch commented on #96
That would be awesome!
Just make sure that `dev` is the target branch, please:
https://github.com/tonyganch/gonzales-pe/tree/dev/test/scss

[2015-10-06 06:59] cgtm commented on #96
@jantimon I've not worked with pull requests before, but am happy to contribute test code once it's in place.

[2015-10-06 17:12] benthemonkey opened #97 "package.json has incorrect "main" field"
The `lib` folder no longer exists in the `dev` branch. Should it point to the `src` folder?

[2015-10-06 17:24] tonyganch commented on #97
Nope. `lib` appears once you run `npm run build`, which triggers babel. I assume that when you run `npm install gonzales-pe`, built files are downloaded instead of source.

[2015-10-06 17:24] #97 closed, assigned to nobody

[2015-10-06 17:45] benthemonkey commented on #97
Oops. Sorry about that. Maybe this issue will help reduce future confusion.

[2015-10-07 15:01] shellscape commented on #96
tossing my hat in here too, this is causing false-positive errors on our end as well.

[2015-10-07 15:18] shellscape opened #98 "False error on placeholder function"
This one is a _major blocker_ for us: gozales-pe throws an error when it encounters LESS placeholder functions. These are perfectly valid and pass linting with `lessc --lint`.

Test Script:

[code]

Output:

[code]

When `var less = '.transition(...){}';` is changed to `var less = '.transition(){}';` gonzales-pe allows it to pass. That should not be required, as the former value is completely vali

[2015-10-07 15:44] tonyganch commented on #98
@shellscape, thank you for report!

Link to LESS docs: http://lesscss.org/features/#mixins-parametric-feature-advanced-arguments-and-the-rest-variable

[2015-10-08 12:57] shellscape commented on #98
@tonyganch indeed, that's what I had referenced before hand. are you verifying that this is a bug?

[2015-10-08 13:46] tonyganch commented on #98
@shellscape, that's a language feature I've had no idea about, so yes, you can call it a bug :)
I've left the link to LESS docs for future me, so I don't need to search it again once I'm ready to fix the issue.

[2015-10-08 14:05] shellscape commented on #98
Great, thanks. I took a look at the source, but I'm a little lost at where to begin looking for how to fix this. Totally willing to put together a PR, but I need some direction I'm afraid.

[2015-10-08 14:47] tonyganch commented on #98
You may find this pr useful: https://github.com/tonyganch/gonzales-pe/pull/78
There are some comments on how the parser works.

`checkArgument` function checks for all possible types of arguments: https://github.com/tonyganch/gonzales-pe/blob/dev/src/less/parse.js#L287
You can see that it also checks for a `variablesList` node which is `@rest...` in LESS: https://github.com/tonyganch/gonzales-pe/b

[2015-10-08 17:11] bgriffith opened #99 "Wrong place - please ignore!"
Edit: Really sorry! Wrong place!

[2015-10-08 17:11] #99 closed, assigned to nobody

[2015-10-08 17:11] bgriffith commented on #99
Sorry wrong place!

[2015-10-08 21:32] bgriffith commented on #96
Just to add that I'm also getting issues with `&`. Parse error on the line starting with `&:after`.

[code]

[2015-10-08 22:11] bgriffith commented on #96
Another issue I have is that the `default` node type (`!default`) 's content is returning empty.

[code]

[2015-10-08 22:36] bgriffith commented on #96
Also a parse issue with the `background` line below when there's a `no-repeat` at the end.

[code]

When there isn't, there's no parse error.

[code]

[2015-10-09 07:31] tonyganch commented on #96
Thank you all, keep posting! I'll have some time tomorrow to start fixing the issues.

[2015-10-09 08:30] tonyganch opened #100 "Parent selectors don't get parsed"
Line 4 throws an error:

[code]

Line 2 throws an error:

[code]

Moved from #96.

/cc @bgriffith @cgtm

[2015-10-09 08:31] tonyganch opened #101 "Placeholders don't get parsed"
Line 1 throws an error:

[code]

Moved from #96.

/cc @cgtm

[2015-10-09 08:32] cgtm commented on #100
Just to confirm, I mentioned these problems on SCSS, not SASS. Are you putting them under [SASS] as verified as a problem there too?

[2015-10-09 08:37] tonyganch commented on #100
I've added `sass` label to remember to check the same issue there too, though I suppose Sass should be fine.

[2015-10-09 08:46] tonyganch opened #102 "No selector before/after combinator throws error"
Line 1 throws error:

[code]

Line 4 throws error:

[code]

Please note, that having no selector before or after combinator is not valid in CSS, but is totally fine in scss and less.

Moved from #96.

/cc @cgtm

[2015-10-09 08:47] cgtm commented on #100
Cool! Just wanted to check.

[2015-10-09 08:55] tonyganch opened #103 "Interpolation in id throws error"
Line 1 throws error:

[code]

[code]

Moved from #96.

/cc @cgtm

[2015-10-09 08:57] tonyganch commented on #103
The problem is with `checkNmName` function, it should be replaced with something more friendly.

[2015-10-09 09:04] tonyganch opened #104 "Single-line comments throw errors"
A very annoying one.
All single-line comments throw errors:

[code]

Moved from #96.

/cc @jantimon

[2015-10-09 09:13] tonyganch commented on #96
@benthemonkey, I can't reproduce the error

[2015-10-09 09:19] tonyganch opened #105 "`default` node should return its content as a string"
Right now `default` node returns an array with spaces between `!` and `default`.
This should be changed to have the same logic with `!optional` and `!important`: the node should return its content as a string.

See: https://github.com/tonyganch/gonzales-pe/blob/dev/src/scss/parse.js#L2305

Moved from #96.

/cc @bgriffith

[2015-10-09 09:21] tonyganch commented on #96
@bgriffith, the issue with urls is here: #85
It's concatenation that fails.

[2015-10-09 14:47] #105 closed, assigned to nobody

[2015-10-09 15:43] tonyganch commented on #104
The problem is with `url` part of a variable.
Tokenizer is not smart enough so it thinks that `url` is a start of `url()` function and treats `//` as part of href and not a comment.

[2015-10-09 17:06] tonyganch commented on #104
Should be fixed in `dev`

[2015-10-09 17:06] #104 closed, assigned to nobody

[2015-10-09 22:08] tonyganch commented on #103
Fixed in `dev`

[2015-10-09 22:08] #103 closed, assigned to nobody

[2015-10-11 02:37] #4 closed, assigned to tonyganch

[2015-10-12 15:16] gmac opened #106 "Whitespace breaks Sass interpolations"
Whitespace errors out interpolation parsing:

[code]

Removing whitespace works okay:

`@import "vars"; .error { color: #{$keep-color}; }`

[2015-10-12 17:06] bgriffith opened #107 "* operator within parens and no space issues"
First off this is in scss and appears to happen in both the current and latest dev branch.

If I wrap calculations that use the `*` operator in parenthesis and don't have any spaces, the node structure bundles the operator within an ident of the following number instead of an operator.

The following are ok:

[code]

<img width="243" alt="screen shot 2015-10-12 at 18 01 41" src="https://cloud.gith

[2015-10-12 17:17] bgriffith opened #108 "% operator node issues when no spaces"
Issue on current release and latest beta.

When there are no spaces around the `%` operator (valid SCSS) for instance `@if (5%2) == 3 { }` the parser outputs a node tree of:

<img width="286" alt="screen shot 2015-10-12 at 18 11 03" src="https://cloud.githubusercontent.com/assets/2854338/10433825/044c9456-710d-11e5-92b1-51423c333fca.png">

When there are spaces the node tree is as expected and the

[2015-10-12 20:09] tonyganch commented on #107
Those two lines should be removed from all syntaxes: https://github.com/tonyganch/gonzales-pe/blob/dev/src/css/parse.js#L1152

@bgriffith, you can make the change yourself or wait till weekend, I'll have time for the fix then.

[2015-10-12 20:15] tonyganch commented on #108
@bgriffith, `5%2` is not valid scss if you assume it returns 1: `5%` part is treated as percentage in both ruby sass and libsass.
Checked it here: http://sassmeister.com/

[2015-10-13 08:30] bgriffith commented on #108
Sorry about that @tonyganch - you're 100% correct! Just tried it myself. `5 %2` and `5 % 2` are valid but anything else isn't.

[2015-10-13 08:30] #108 closed, assigned to nobody

[2015-10-15 20:47] #92 closed, assigned to nobody

[2015-10-16 20:48] bgriffith opened #110 "Parsing error when using extrapolated variable as extend name"
Getting a parse error with `%#{$var}` in the example below. From my testing it's caused by the `%` prefix for a silent placeholder.

SCSS, both current and dev-beta.

[code]

[2015-10-16 21:14] tonyganch commented on #110
Fixed in `dev`, thanks for report!

[2015-10-16 21:14] #110 closed, assigned to nobody

[2015-10-16 22:30] tonyganch opened #111 "[node] Save references to parent, prev and next"

[2015-10-16 22:54] tonyganch opened #112 "includes get parsed as atrules"

[2015-10-17 11:05] tonyganch commented on #94
So, I've moved csscomb project to new gonzales version and have found no bugs in api so far.
I've also added docs for node types, so I'm planning to release a stable 3.0 version later today.
All parsing bugs will be then fixed and released as patches, so I assume it will make our work faster.

**Important changes in api after 3.0 beta release!**
(1) `node.remove()` renamed to `node.removeChild()`

[2015-10-17 19:22] bgriffith commented on #94
No problem @tonyganch - glad to help!

[2015-10-18 00:36] #94 closed, assigned to nobody

[2015-10-18 00:52] #96 closed, assigned to nobody

[2015-10-18 01:12] tonyganch commented on #100
Should be fixed in `3.0.1`. Please let me know if the issue's still there.

[2015-10-18 01:12] #100 closed, assigned to nobody

[2015-10-18 01:21] tonyganch commented on #101
Fixed in `3.0.1`

[2015-10-18 01:21] #101 closed, assigned to nobody

[2015-10-18 01:55] tonyganch commented on #107
Should be fixed in `@3.0.2` for both sass and scss. Please let me know if the issue is still there.

[2015-10-18 01:55] #107 closed, assigned to nobody

[2015-10-18 02:07] tonyganch commented on #95
@dane-harnett @DanPurdy, I think the issue has been fixed with #104.
I've added tests for both of your examples above and they pass.
Please check `dev` branch or `@3.0.2` version and let me know if you find that the issue is still there.

[2015-10-18 02:07] #95 closed, assigned to nobody

[2015-10-18 03:03] shellscape commented on #94
:+1:

[2015-10-18 09:51] tonyganch commented on #106
Fixed in @3.0.3

[2015-10-18 09:51] #106 closed, assigned to nobody

[2015-10-18 10:28] bgriffith opened #113 "Issue with css keyframes with percentage selectors"
Currently there is a parse error when you use a percentage selector within a keyframe animation.

This is with 3.0.3.

[code]

While the following is ok

[code]

[2015-10-18 10:45] bgriffith opened #114 "Ampersand SCSS parse error"
In SCSS/Sass the `&` be used as a prefix to quickly form BEM style selectors.

Using the ampersand like this was ok in 3.0.0-31 but in 3.0.3 it's causing a parse issue.

[code]

Results in 3 selectors; `.block`, `.block__element` and `.block__element--modifier`.

[2015-10-18 11:22] jwilsson commented on #114
I'm seeing the same error for Less.

[2015-10-18 11:22] jwilsson commented on #113
I'm seeing the same error for Less.

[2015-10-18 12:02] tonyganch commented on #113
I'm working at this issue right now and I have a question for you.
Here is a simplified parse tree for the example above:

[code]

See those `keyframesSelector` nodes? I've made them [according to spec](http://www.w3.org/TR/css3-animations/#keyframes).
The question is: do you need them to be wrapped in `selector` nodes?
In other words, could you choose one of the two examples?

[code]

[code]

I f

[2015-10-18 12:17] bgriffith commented on #113
Happy to go with the second one.

[2015-10-18 13:21] jwilsson commented on #113
Yeah, my vote is for the second one as well.

[2015-10-18 13:35] tonyganch commented on #113
Fixed in @3.1.0

[2015-10-18 13:35] #113 closed, assigned to nobody

[2015-10-18 19:05] tonyganch commented on #114
Again, consulting about tree structure.
Since the part that goes after `&` can be absolutely anything, I can't match it to any existing node type.
So we have a few options here.

(1) Name it all `ident`:

[code]

[code]

The problem of this solution is that `2-panda` is not an ident per spec, because it starts with a number.

(2) Parse smaller parts:

[code]

[code]

The problem of this solution i

[2015-10-19 14:06] bgriffith commented on #114
I'm actually leaning on option 2. As you may want to lint against having numbers in selectors or something similar.
I guess the other option is:

[code]

[2015-10-19 15:09] DanPurdy commented on #114
I think option 2 is ok, but @bgriffith solution seems the most flexible for me, yes it's becoming cluttered but it offers the most flexibility. and leaves the assumptions down to whoever is using the parser.

Hope that helps.

Also @tonyganch I'll get some time this evening to go through those other issues hopefully in sass-lint and report back if they're ok now in gonzales-pe.

Thanks for the upd

[2015-10-19 15:28] Snugug commented on #114
I like Number 3 or the breakdown that @bgriffith provides. These are partial selectors, not full selectors, so it's a… partial ident? The full ident is the parent selector plus the partial ident presuming (in Sass, anyway) that there is not space between the parentSelector and the partial ident

[2015-10-19 18:33] tonyganch commented on #102
Fixed in @3.1.1

[2015-10-19 18:33] #102 closed, assigned to nobody

[2015-10-19 19:59] tonyganch commented on #114
Implemented @bgriffith's idea in @3.2.0.

[code]

[2015-10-19 20:03] #88 closed, assigned to nobody

[2015-10-19 20:47] tonyganch commented on #21
Fixed in @3.2.1

@sasstools, please note that this actually fixes the issue when selectors inside extends were not wrapped in `selector` node.
So for example:

[code]

[2015-10-19 20:47] #21 closed, assigned to nobody

[2015-10-19 21:31] DanPurdy opened #115 "parse error with interpolation"
Hi @tonyganch

Ive been running through all the reported issues on sass-lint with regards to parse errors, here's one that is still throwing a parse error in gonzales-pe 3.2.1

[code]

This parses fine however

[code]

First reported [here](https://github.com/sasstools/sass-lint/issues/321)

[2015-10-19 21:45] DanPurdy commented on #95
Hi @tonyganch I've just run the original issue and the code I posted above against 3.2.1 and all is fine. Thanks!

[2015-10-19 21:48] DanPurdy commented on #115
This is also still causing parse errors on every line you find `-#{$i}` in 3.2.1

[code]

Originally reported [here](https://github.com/sasstools/sass-lint/issues/222)

[2015-10-19 21:52] DanPurdy commented on #115
And another issue with this property too

[code]

I've grouped these all into one issue as they seem to be related, I'll happily split them into separate issues if it makes it easier for you to keep track of them.

Thanks!

First reported [here](https://github.com/sasstools/sass-lint/issues/210)

[2015-10-19 21:57] DanPurdy opened #116 "Parent selector and interpolation"
This seemed a separate issue to the interpolation issues I'd opened up. Hope that's ok.

This block is causing a parse error in 3.2.1

[code]

the line in question is `@at-root &#{$pseudo} {` If i remove the ampersand it parses fine.

First reported [here](https://github.com/sasstools/sass-lint/issues/184)

[2015-10-19 21:59] tonyganch commented on #115
This looks like #93. I'll get to it some time soon.

[2015-10-19 22:03] tonyganch commented on #116
Related  to #114.
Thanks!

[2015-10-19 22:04] DanPurdy commented on #85
Hi @tonyganch seen as i'm running through every reported outstanding issue that we had over with sass-lint that was linked to gonzales parse issues I'll add the code below which is still causing an issue as of 3.2.1

[code]

Thank you for all your hard work in getting gonzales-pe up and running, we're really excited to get a new version into sass-lint!

[2015-10-19 22:18] DanPurdy commented on #115
Awesome, thanks @tonyganch I've got another 2 test cases here in case this helps

[code]

Both interpolated values fail

[2015-10-20 09:13] tonyganch commented on #115
The problem for me is lack of open grammar or at least good documentation for Sass syntax.
Since I don't precompile the code, I have no way to know if `#{$i}` will become a string or a number, this way I have no way to tell for sure whether `#{$i + somefunction()}em` is a dimension or just a string-like value. <This is the main reason I have no support for Stylus, actually.>
Right now I assume tha

[2015-10-20 16:29] DanPurdy commented on #115
Yeah i see what you mean, it's a tricky one. I was thinking it would be a case where maybe the actual interpretation should be up to the user and gonzales-pe just break it up into variables, dimensions, numbers and strings etc.

[2015-10-20 17:22] tonyganch commented on #115
Hmm, that may be a good idea. I'll think about it, thank you!

[2015-10-20 17:31] tonyganch opened #117 "Fall back to primitive types instead of throwing a parsing error"
See discussion in #115.

[2015-10-20 19:02] tonyganch opened #118 "[cli] Move `bin/gonzales.js` to `src` directory"

[2015-10-21 19:02] bgriffith opened #119 "Nested multiple selector sass issue"
New parse error since 3.0.0-31 with Sass and multiple selectors that are nested.

[code]

Non-nested is ok

[code]

[2015-10-23 16:19] tonyganch commented on #115
@DanPurdy, do you guys use any chat in sasstools team? Telegram or something. It would be easier for me to ping you this way :) <Or should I create one?>

I have very little time this week, so I'd like to ask which one or two bugs you find to be the most terrible, so I can fix them first?

[2015-10-23 20:49] CITguy opened #120 "Broken support for `...` LESS mixin argument definition"
I'm getting errors when parsing the following:

[code]

LESS supports this style of argument definition (http://lesscss.org/features/#mixins-parametric-feature-advanced-arguments-and-the-rest-variable) to match `0-N arguments`, but gonzales doesn't seem to like this.

Please add support for this.

[2015-10-23 20:57] tonyganch commented on #120
@CITguy, please subscribe to #98.
I'm closing this one as a duplicate.

[2015-10-23 20:57] #120 closed, assigned to nobody

[2015-10-23 21:00] CITguy opened #121 "Add support for LESS mixin guards"
LESS supports guard conditions for mixins (http://lesscss.org/features/#mixin-guards-feature).

Here's a real usage example.

[code]

Gonzales doesn't seem to like the validity. Please add support for this.

[2015-10-25 17:40] tonyganch opened #122 "Add printing options to node api"

[2015-10-26 00:30] DanPurdy opened #123 "parseTree.contains enhancement"
Just a thought..

Looking through the documentation, would it be worthwhile adjusting the functionality of parseTree.contains to return something more than a boolean. More specifically rather than returning a true or false it should return `0` if the node doesn't contain the specified node or returns the count of how many child nodes of that type it finds.

Would be extremely useful for the purpos

[2015-10-26 07:19] tonyganch commented on #123
Can you please provide an example when it will be useful?

[2015-10-28 01:41] shellscape commented on #98
@tonyganch I'm still seeing this error with 3.2.1

[2015-10-28 04:16] shellscape opened #124 "Parent Selector for Mixins Broken"
Using 3.2.1. The following block of LESS is valid, but gonzales-pe throws an error for the first line:

[code]

[2015-10-28 04:27] shellscape opened #125 "Compacting Scripts in build.sh Makes Debugging Insane"
I'm all for minification / compacting of a script when it's intended for client-side use. We practice that heavily. However, this is a node module. And compacting of minifying the javascript within the package does nothing for performance. It only makes debugging gonzales-pe more difficult.

Humbly requesting you remove the compacting option here: https://github.com/tonyganch/gonzales-pe/blob/dev/

[2015-10-28 08:19] tonyganch commented on #98
Well, the issue is still open, yes.
I have not touched it because of your comment: «Totally willing to put together a PR, but I need some direction I'm afraid».

[2015-10-28 12:00] shellscape commented on #98
@tonyganch I've not been able to get anything working, hence no PR has been filed. The structure of the project has made it really difficult to work with, so I'm afraid I haven't made any progress. Please do proceed with a fix.

[2015-10-28 12:53] shellscape opened #126 "LESS Mixin Variable Rule Throwing Parse Error"
Mixin variable rules are throwing parse errors in 3.2.1. Sample less mixin below:

[code]

Parse error is on the last line in the mixin: `@{prop}: @args;`

[2015-10-28 13:20] shellscape commented on #17
:+1: started running into this today

[2015-10-28 13:32] shellscape commented on #126
A functioning example can be seeing on lesscss.org here: http://lesscss.org/less-preview/#%7B%22less%22%3A%22.browser-prefix(%40prop%2C%20%40args)%20%7B%5Cn%20%20-webkit-%40%7Bprop%7D%3A%20%40args%3B%5Cn%20%20-moz-%40%7Bprop%7D%3A%20%40args%3B%5Cn%20%20-ms-%40%7Bprop%7D%3A%20%40args%3B%5Cn%20%20-o-%40%7Bprop%7D%3A%20%40args%3B%5Cn%20%20%40%7Bprop%7D%3A%20%40args%3B%5Cn%7D%5Cn%5Cn.foo%20%7B%5Cn%20.

[2015-10-28 13:34] shellscape commented on #124
Functional example can be viewed here: http://tinyurl.com/p5bbj2w

[2015-10-28 16:29] shellscape commented on #124
Likely related to https://github.com/tonyganch/gonzales-pe/issues/114, and should note that it parses fine in 3.0.0-31, but not 3.2.1.

[2015-10-29 02:55] shellscape commented on #124
Managed to trace the problem to the trailing ampersand: `input[type=button]&,`. Haven't managed to trace the source of gonzales to find out why, however.

[2015-10-29 04:42] shellscape commented on #98
Figured out a decent way to work with the lib. Still not ideal, but I managed to put together a few pull requests for fixes.

[2015-10-29 05:04] shellscape commented on #75
https://github.com/tonyganch/gonzales-pe/pull/128 may fix this as well

[2015-11-01 03:35] danoc opened #130 "SCSS parser breaks on nested child selectors"
The following Sass is valid but breaks in `v3.2.1`:

**Fails:**

[code]

[code]

[code]

**Works:**

[code]

[code]

[code]

It seems to break when you start a line with a child selector that goes more than one level deep. (Not sure if I explained that correctly, but the examples should help.)

[2015-11-01 04:02] danoc opened #131 "SCSS parser breaks on keyframe syntax passed to mixin as content"
This breaks on the line that is commented.

**Does not work:**

[code]

Removing the `%` still breaks it.

**Works:**

[code]

[code]

[2015-11-03 16:19] shellscape opened #132 "LESS variable assignment with tilde - False ParseError"
Given the following input:

[code]

A ParseError is thrown. This is another false error on valid LESS syntax since 3.0.0-beta. The solution is as follows in `lib/parse.js`:

[code]

Haven't gotten favorable turn-around on the 3 pull requests for other false-positive errors, so I'll leave this for the project collaborators to patch. (They may be busy with life, it happens, but we needed the fixes i

[2015-11-03 18:32] shellscape opened #133 "ParseError: Stack and property improvements"
ParseError is an improvement upon the previous error reporting. But it causes some data loss and important information during conversion from Error to ParseError. The following code is offered as an improvement to the object, adding a track trace (important!) and attaching existing/conflicting property names from Error to a `super` property:

[code]

[2015-11-03 20:17] gmac opened #134 "SCSS regressions from v3.0.0"
All these parsing ops worked in 3.0.0, but fail in 3.2.1:

Trailing commas before blocks (permissible by Sass):

[code]

Keyframes lists:

[code]

Parent reference + interpolation:

[code]

[2015-11-04 07:17] tonyganch commented on #133
What information except for stack trace you want to get from `e`?

[2015-11-04 12:40] shellscape commented on #133
That's all I needed at the moment. The code allows for expansion if we modify errors to contain anything other than line and syntax. It's just forward-thinking.

[2015-11-05 13:57] shellscape opened #135 "LESS: Interpolated variable in selector ParseError"
The following block is throwing a ParseError:

[code]

[2015-11-06 10:20] brian252 commented on #57
Hello!

New message, please read <http://electronicstradingllc.com/children.php?9rcvz>

brian@derocher.org

[2015-11-08 04:57] danoc opened #136 "SCSS parser breaks on parent selector with interpolation"
This example fails.

[code]

I believe I've found a fix and will submit a PR.

[2015-11-08 06:45] danoc commented on #131
Currently working on a fix.

[2015-11-08 07:27] danoc commented on #131
Found a fix and will clean it up/write tests soon.

[2015-11-08 22:49] danoc commented on #130
I tried fixing this one but couldn't quite figure it out.

[2015-11-10 12:58] gitnik commented on #114
This still breaks for me? And I'm on 3.2.1

[2015-11-10 13:01] gitnik commented on #114
[code]

[2015-11-13 12:15] eirikhm opened #139 "LESS: Mixins inside other styles broken"
[code]

This validates with lessc 2.5.3 (Less Compiler) [JavaScript], but fails with gonzales.

[2015-11-21 20:53] brian252 commented on #57
Hello!

New message, please read <http://omsspartanburg.com/glad.php?tq>

brian@derocher.org

[2015-11-21 21:00] brian252 commented on #57
Hello!

New message, please read <http://encierroexhibition.com/hand.php?yp22y>

brian@derocher.org

[2015-12-02 03:17] brian252 commented on #57
Hello!

New message, please read <http://bozdogandagitim.com/mind.php?1nxlp>

brian@derocher.org

[2015-12-04 16:22] rbelling commented on #136
Same issue here: gonzales is breaking when parsing this snippet.

$diff-size: strip-unit($max-size - $min-size); //e.g. 13
$diff-range: $upper-range - $lower-range;
#{$property}: calc(#{$min-size} + #{$diff-size} \* ((100vw - #{$lower-range}px) / #{$diff-range}));

@include width-under($lower-range) {
    #{$property}: $min-size;
}
@include width-over($upper-range) {
    #{$property}: $max-size;
}

[2015-12-08 15:27] czebe commented on #115
@tonyganch any progress on this one? Do you have a plan/ETA for the bugfix?

[2015-12-21 18:22] colin-marshall opened #140 "SCSS parser breaks on property with interpolation"
Similar to #136, except with interpolation on a property.

Example:

[code]

[2015-12-21 18:23] colin-marshall commented on #136
I am experiencing the same problem as @rbelling, which is slightly different than the original issue (selector vs. property) so I have opened a new issue here: #140.

[2016-01-07 21:06] shellscape opened #141 "LESS: Escaping a String Format Fails"
The following will fail for LESS:

[code]

[2016-01-07 21:07] shellscape opened #142 "LESS: String Format Fails"
Independent from the other issue where the String Format is wrapped in an escape, this also fails:

[code]

[2016-01-09 01:00] brian252 commented on #57
Hey!

Open message <http://filamentmagazine.co.uk/passed.php?h2>

brian@derocher.org

[2016-01-09 01:00] brian252 commented on #57
Hey!

Open message <http://bangecommerce.co.uk/hill.php?vz9>

brian@derocher.org

[2016-01-16 18:28] haoqunjiang opened #143 "ParsingError: message property should be writable"
When running test for csscomb.js, I got a lot of error messages saying

That's because [csscomb-core would try to overwrite the `message` property](https://github.com/csscomb/core/blob/dev/src/core.js#L312). But I don't think that's csscomb-core's fault, because the `message` property in a typical `Error` object should be writable and that should be the expected behavior of the `ParsingError` clas

[2016-01-16 19:15] haoqunjiang commented on #143
P.S. I don't quite understand what's the point of assigning `message` to `e.stack` in csscomb-core…

The commit message says:

But what does "errors thrown by binary" mean?

[2016-01-16 20:01] tonyganch commented on #143
Consider this example. You have an invalid css file with content: `a {`.
When you run csscomb as a command line tool, it fails and node reports the error. The error message is taken not from `e.message` field however but from `e.stack`.
So here are two cases.
1) With `e.stack = e.message = ...`:

[code]

2) Without `e.stack`, just `e.message = ...`:

[code]

"Errors thrown by binary" means errors

[2016-01-16 20:02] tonyganch commented on #143
Please install GPE from `dev` branch and tell me whether the problem remains.

[2016-01-18 12:15] #143 closed, assigned to nobody

[2016-01-19 20:44] clcpolevaulter commented on #115
Any updates on this @tonyganch?

[2016-01-23 09:01] haoqunjiang opened #145 "[CSS/LESS/SCSS] Should raise an error for missing semicolons"
From this issue: https://github.com/csscomb/csscomb.js/issues/447

The following css block should not pass the parser:

[code]

[2016-01-26 08:26] DanPurdy commented on #145
I'm not sure this is a bug, Isn't this kind of enforcement the job of a linter? A parser should just parse whatever is fed into it whether it's valid or not? For example it's perfectly valid (but bad practice) to leave a semicolon off of the last property in a block, do we really need the parser to be checking all that rather than just giving us a representation of the current state of the code an

[2016-01-26 08:53] tonyganch commented on #145
Hi @DanPurdy! You look amazing today :)

I checked the code above with CSSOM (which is implementation of a standard) <1>.
Seems like it parses the example exactly the same way as GPE does, with everything being one big weird property.

<1>: http://nv.github.io/CSSOM/docs/parse.html#css=.test%20%7B%0A%20%20%20%20position%3A%20absolute%0A%20%20%20%20display%3A%20block%0A%20%20%20%20padding%3A%200%20

[2016-01-26 09:16] DanPurdy commented on #145
Hi @tonyganch i try my best :wink: how're you?

That's what I thought would happen apart form the oddity, but yeah hopefully you agree but the less errors a parser throws the better, it's for another project downstream to catch these issues when it consumes the AST.

Talking of errors, any news on the interpolation issues? :innocent:

[2016-01-26 16:16] haoqunjiang commented on #145
After carefully reading the css syntax spec, I have to agree that the aforementioned code block is valid css syntax, though it doesn't make any sense.

But when it comes to less and scss, neither of them could parse this code block (tested in http://lesscss.org/less-preview/ and http://www.sassmeister.com/). I'm not sure if it is a good idea to deviate from the official parser implementation.

[2016-01-26 16:26] DanPurdy commented on #145
Agreed but at the same time, a parser throwing an error causes issues downstream for everyone consuming it, and would mean the rest of that file wouldn't be parsed.

IMO the parser should just be interpreting what it finds into a tree and then a linter or a code checking tool should be flagging that issue up. That code in scss would be wrong for no semicolons but in Sass it would be wrong for havi

[2016-01-27 01:37] brian252 commented on #57
Hey!

Open message <http://antom.eu/matter.php?x3mu>

brian@derocher.org

[2016-01-27 01:37] brian252 commented on #57
Hey!

Open message <http://cnnatlanta.com/any.php?ir>

brian@derocher.org

[2016-01-27 12:20] thybzi commented on #121
Will that also fix selector guards?
Something like:

[code]

[2016-01-28 10:56] seginel opened #146 "LESS parser fails on "when" guards ("Please check validity of the block...")"
The parser fails at strings containing "when" in the following cases:

[code]

[2016-01-28 22:30] stowball commented on #115
Just voicing a +1 as the `left: calc(50% - #{$eb-hint-width / 2})` error happened to me as soon as I tried to implement sass-lint :(

[2016-01-30 15:10] haoqunjiang commented on #145
Yes, that makes total sense. Never realized that before…
Thanks for your detailed explanation @DanPurdy

[2016-01-30 15:10] #145 closed, assigned to nobody

[2016-02-01 22:34] bgriffith opened #147 "Sass - Only last @extend parsed as node of type extend, others as atrule"
Hi @tonyganch - playing with the latest release (3.2.1) and have a few discrepancies with Sass syntax and extends.

Only the last `@extend` in a file is parsed as a node of type `extend` while all those before it will be parsed as a node of type `atrule`

Example code

[code]

Results...

[code]

[2016-02-01 23:15] bgriffith opened #148 "Sass - !global causes parse error"
Hi @tonyganch - Another one for you!

Using `!global` causes a parse error `Please check the validity of the block starting from line....` with Sass syntax (ok with SCSS)

Example code

[code]

[2016-02-05 23:59] bgriffith commented on #119
hi @tonyganch - we've hit this issue again while trying to convert all our sass-lint rules to work with 3.2.1.

I'm assuming it's the same issue causing the parse error.

This time the code is:

[code]

[2016-02-07 01:01] tonyganch commented on #115
Should be fixed in `dev`, will publish a new release in a few hours.

[2016-02-07 01:01] #115 closed, assigned to nobody

[2016-02-07 01:03] tonyganch commented on #136
Should be fixed in `dev`, will publish a release in a few hours.

[2016-02-07 01:03] #136 closed, assigned to nobody

[2016-02-07 01:04] tonyganch commented on #116
Should be fixed with #137, will publish a release in a few hours.

[2016-02-07 01:04] #116 closed, assigned to nobody

[2016-02-07 01:06] tonyganch commented on #93
Should be fixed in `dev` with #115, will publish a release in a few hours.

[2016-02-07 01:06] #93 closed, assigned to nobody

[2016-02-07 01:08] tonyganch commented on #140
Should be fixed in `dev`, will publish a release in a few hours.

[2016-02-07 01:08] #140 closed, assigned to nobody

[2016-02-07 01:12] colin-marshall commented on #140
Great! Thank you!!!

[2016-02-07 01:24] tonyganch commented on #116
Please check in `@3.2.3`.

[2016-02-07 01:24] tonyganch commented on #115
Please check in `@3.2.3`.

[2016-02-07 01:25] tonyganch commented on #140
Please check in `@3.2.3`.

[2016-02-07 01:25] tonyganch commented on #93
Please check in `@3.2.3`.

[2016-02-07 01:26] tonyganch commented on #136
Please check in `@3.2.3`.

[2016-02-07 01:43] tonyganch commented on #148
Should be fixed in `dev`.

[2016-02-07 01:43] #148 closed, assigned to nobody

[2016-02-07 01:48] tonyganch commented on #147
For the first one (`@extend %placeholder1`) I get `extend`:

[code]

Other two are invalid according to http://www.sassmeister.com/

[2016-02-07 02:59] tonyganch commented on #119
Should be fixed in `@3.2.5`.

[2016-02-07 02:59] #119 closed, assigned to nobody

[2016-02-07 02:59] tonyganch commented on #148
Please check in `@3.2.4` or later.

[2016-02-07 10:04] bgriffith commented on #147
Hey Tony - a space had snuck in after the '%' when I was writing the example. Try it now please. Thanks!

[2016-02-07 10:19] danez opened #149 "Install on mac broken since 3.2.3"
[code]

[2016-02-07 10:25] danez commented on #149
It might be that the check for 'lib' is wrong, I'm not sure what the cwd is when calling the script.

[2016-02-07 11:24] bgriffith commented on #149
Same problem - any version greater than `3.2.2` won't install via npm (but does install/build using github repo url)

[2016-02-07 11:34] tonyganch commented on #149
Hold on, working on it

[2016-02-07 11:51] tonyganch commented on #149
Done. Please try with `@3.2.6`.

[2016-02-07 11:51] #149 closed, assigned to nobody

[2016-02-07 13:31] bgriffith commented on #85
Hey @tonyganch - Revisiting this issue.

The following is ok:

[code]

But if we have anything after the url it's a parse error: (no-repeat in this example)

[code]

[2016-02-07 14:45] bgriffith opened #150 "SCSS, Sass - Setting & as variable value causes parse issue"
Setting ampersand to be the value of a variable causes a parse error.

Both the following cause an issue.

[code]

Original issue posted in sass-lint - https://github.com/sasstools/sass-lint/issues/385

[2016-02-07 14:48] bgriffith commented on #134
Just to note that all these appear to be fixed in the latest version - 3.2.6

[2016-02-09 19:32] logiclabs commented on #149
This fix appears to have broken Windows compatibility.  "-e was unexpected at this time."

`if [ -e ./scripts/postinstall.sh ]; then ./scripts/postinstall.sh; fi`

[2016-02-11 22:49] bgriffith opened #152 "CRLF - Lines incorrect"
When using CRLF (Windows) line endings, the line numbers are off (including the total number of lines in a file)

For example if the code below is on the top of the page, the nodes for the declaration node is off (line 3 instead of 2). Also the file is only 4 lines long (new line ending) but it's reporting that the ruleset ends on 5.

[code]

The output:

[code]

[2016-02-12 10:55] danez opened #153 "SCSS: Parse error for nested function calls"
Not sure why exactly it is failing.

[code]

[code]

[code]

[2016-02-12 12:41] danez opened #154 "SCSS: multiple declarations in arguments are wrong"
When I have a mixin or function with two optional parameters, the second one gets merged into the first one.

[code]

[code]

[2016-02-16 11:11] stukennedy commented on #149
yeah, broken on windows ... this is a bash-specific script you've got here.

[2016-02-18 05:29] newagebegins commented on #130
The following code change fixed the issue for me:

[code]

[2016-03-02 09:46] DanPurdy opened #159 "Sass mixins"
HI @tonyganch

In Sass we're seeing a few issues. The following seems to hard crash everything. If you try it on your gonzales playground it renders the whole tab of the browser useless!

Not sure if it's the mixin or the interpolation but it's definitely strange!

[code]

[2016-03-07 17:50] dsln opened #160 "Parse Sass @for loop"
I am attempting to create KSS markup with a grid system (e.g. `<div class="grid-##">Test</div>` where '##' is some number). The scss file includes a @for to generate each of the possible grid ##'s.  When I try to run the gulp tasks, I get an 'undefined' and failed styleguide creation. What am I doing wrong?

e.g.
// Grid
//
// This is a grid
//
// markup:
//    `<div class="grid border">`
//     `

[2016-03-07 17:58] #160 closed, assigned to nobody

[2016-03-09 21:47] DanPurdy commented on #149
Hi @tonyganch sorry to ask again but these scripts are preventing any install on windows currently (being bash specific) and blocking us releasing our update to use 3.2.6 :cry:  Is there any chance you could just remove these scripts again for now and roll a quick patch release? Thanks!

Also appveyor have some good support for testing on windows machines https://www.appveyor.com/ and are free for

[2016-03-14 17:42] clcpolevaulter commented on #149
@tonyganch thoughts on @DanPurdy's request? We'd love to have his changes for another issue on scss-lint.

[2016-03-21 21:57] mven commented on #149
@DanPurdy @tonyganch I just tested on my Windows installation using the manual build instructions (3) in the readme, as well as modifying the `package.json` and I was able to successfully `npm install` the dev branch (3.2.6). Here's my modifications to the `package.json`. I know it's ugly, but I had to prepend `bash` to the script calls or Windows would not recognize the `.` or it would complain a

[2016-03-22 02:08] mven commented on #149
^ I used Git Bash terminal for this.

[2016-03-22 08:07] DanPurdy commented on #149
@mven yeah that would be fine but it's not a workable solution for this. The issue is these scripts aren't even necessary when just using the package as a dependency  from npm and unless you take some manual steps that 99.9% of windows users or indeed anyone not using a bash shell won't then it fails to install and causes npm to throw, which means we will be inundated with broken install issues if

[2016-03-22 16:20] mven commented on #149
@DanPurdy After posting, I thought this might be the case wherein the dev would be forced to use bash, which might not be for all Windows users. It makes sense with your explanation.

[2016-03-26 05:23] brian252 commented on #57
Hey!

Open message <http://www.protegerworld.com/to-morrow.php?mayp>

brian@derocher.org

[2016-04-05 13:00] febLey commented on #150
Unfortunately that's a deal-breaker for me :(

[2016-04-20 12:43] bgriffith opened #161 "CSS - Unicode wildcards causes parse issue"
Hey @tonyganch - When using [unicode wildcards](https://developer.mozilla.org/en/docs/Web/CSS/@font-face/unicode-range) it unfortunately returns a parse error. It seems to be down to the `??`.

[code]

[2016-04-22 08:35] DanPurdy opened #165 "Modulo parse error in .sass format"
`$my-variable: 5 % 2`

Still throws a parse error for `.sass` syntax, `.scss` is fine.

[2016-04-22 09:39] DanPurdy opened #166 "Modulo parse error in .scss format"
The following is throwing a parse error due to the modulo operator being present.

[code]

When placed in the following context the whole of the above block is throwing a parse error even if the modulo operator is removed.

[code]

[2016-04-22 17:54] raemadeline opened #167 "Issue with scss keyframes with comma separated values"
Currently there is a parse error when you use commas in keyframe animations. Using the most recent version.

[code]

But this is ok

[code]

[2016-04-22 18:49] raemadeline opened #168 "SCSS Issue with using !important in a mixin call"
I get a parse error wherever there is a mixin call with `!important` as part of the argument like this

[code]

[2016-04-23 09:35] tonyganch commented on #152
Should be fixed in `dev` thanks to @DanPurdy's PR

[2016-04-23 09:35] #152 closed, assigned to nobody

[2016-04-23 09:48] tonyganch commented on #147
PR is merged, the issue should be fixed in `dev`

[2016-04-23 09:48] #147 closed, assigned to nobody

[2016-04-23 09:52] DanPurdy opened #169 "SCSS Multiple string interpolation issue"
As reported in
https://github.com/sasstools/sass-lint/issues/644

The following cause the parser to fail

Example:
https://github.com/zurb/foundation-sites/blob/develop/scss/grid/_classes.scss#L85
https://github.com/zurb/foundation-sites/blob/develop/scss/grid/_flex-grid.scss#L195

[code]

Here's a slightly different string interpolation that also throws a fatal error:
https://github.com/zurb/foun

[2016-04-25 01:18] mayrop opened #171 "SCSS: Parsing error with class with 1 hyphen and interpolation"
There seems to be a parsing error when I try to create a class like this `.-whatever` using interpolation.

Inside `file.scss`:

[code]

[2016-04-25 18:27] cmcclure commented on #130
Another related failing case is `> * + *`

[2016-04-27 09:41] #153 closed, assigned to nobody

[2016-04-27 09:42] tonyganch opened #172 "Copy fix from #156 for Sass syntax"
https://github.com/tonyganch/gonzales-pe/pull/156

[2016-04-28 02:26] colin-marshall commented on #169
Judging by #171, and the fact that 3 string interpolations works, the hyphen is probably causing the issue in the first two examples, not the double string interpolation.

[2016-04-28 22:30] bgriffith commented on #114
So this is failing due to #150

[2016-05-03 15:40] bgriffith opened #174 "CSS, Sass, SCSS - [attr|=value] pipe causes parser error"
The `|` in the following attribute selector causes Gonzales to parser error out :fire:

[code]

[2016-05-03 19:21] tonyganch commented on #174
The problem here is that `attr|` part gets interpreted as namespace prefix, see `checkNamePrefix` function.

[2016-05-04 17:56] colin-marshall commented on #149
@DanPurdy is this fixed now so you don't have to use a fork anymore?

[2016-05-05 23:55] DanPurdy commented on #149
@colin-marshall this is true but currently the fork doesn't really differ from the base repo here so we wont really need to change it until we update the base repo. @tonyganch was kind enough to give both @bgriffith and I write access to this repo too so we can hopefully help out merging PR's and also working directly on the AST itself, which we intend to do when we have time.

[2016-05-09 18:21] nmcclay commented on #169
I also encountered this issue after updating today, is there any work around for this issue?
[code]

[2016-05-11 04:57] scottyeck commented on #169
FWIW, as per discussion with @colin-marshall, this can be replicated with the `+` token as well.

Hoping this is productive. Otherwise, sorry for the unnecessary communication bloat.

[2016-05-15 11:49] tonyganch opened #180 "Fix JSDoc"
Almost all comments in `parse.js` files seem to be outdated.

[2016-05-17 21:08] bgriffith commented on #172
Merged

[2016-05-17 21:08] #172 closed, assigned to nobody

[2016-05-17 21:10] bgriffith commented on #167
This should be fixed on dev.

[2016-05-17 21:10] #167 closed, assigned to nobody

[2016-05-17 21:16] bgriffith commented on #168
Thanks for the report, confirmed on both Sass and SCSS.

[2016-05-18 04:25] stowball commented on #171
I have this issue throughout my codebase, too. Here's a use-case:

[code]

[2016-05-18 14:39] tonyganch commented on #150
`$parent: &` still causes parser error for me.

[2016-05-18 16:48] colin-marshall commented on #171
@stowball there's a fix on the way for this in the AST, see https://github.com/sasstools/sass-lint/issues/644.

[2016-05-18 22:10] bgriffith commented on #150
Fixed in 3.3.4.

[2016-05-18 22:10] #150 closed, assigned to nobody

[2016-05-24 11:26] varya opened #187 "SASS: Does not take mixins in url()"
Related to this issue: https://github.com/SC5/sc5-styleguide/issues/931

This code gives an error.

[code]

Whereas the same mixin work OK if outside `url()`

[code]

[2016-05-25 14:00] srowhani opened #188 "Implementation of map, filter, reduce, sort functions when performing tree manipulations."
Would be nice to have these features.

[2016-05-25 18:55] bgriffith commented on #187
Hey @varya - thanks for the report. Could you verify which version of gonzales-pe you are using? Thanks.

[2016-05-25 19:00] varya commented on #187
The last one, 3.3.4.

[2016-05-25 21:01] tonyganch commented on #188
Can you please describe specs for each of them? Example of how you would like to use them and how they should work.

[2016-05-25 22:52] srowhani commented on #188
Take `sort` for example, manipulate the ordering of a set of nodes.

[code]

Map could be used to return a new tree, after applying a given function to manipulate each element.

Filter would return a new tree with nodes that meet a certain condition.

Reduce, as an accumulate function of sorts.

Just a suggestion, let me know what you think.

[2016-05-26 18:34] DanPurdy opened #189 "[Sass] Suspected Infinite loop with functions"
As reported [here](https://github.com/sasstools/sass-lint/issues/732)

the following causes a suspected infinite loop

[code]

[2016-05-29 16:50] bgriffith opened #191 "CSS, Sass, SCSS - Unicode ranges incorrectly wrapped with dimension node"
The end parts of the values of these unicode ranges (https://developer.mozilla.org/en/docs/Web/CSS/@font-face/unicode-range) are incorrectly wrapped as dimensions. (`7F`, `00FF`)

[code]

[code]

[2016-05-31 19:23] simoami commented on #98
any updates on this? Even with external help this is not moving much.

[2016-05-31 20:10] simoami commented on #132
I came across this as well. Can the maintainer look into it?

[2016-05-31 22:03] shellscape commented on #132
@simoami we've opted to switch from gonzales-pe to postcss + postcss-less

[2016-05-31 22:03] #132 closed, assigned to nobody

[2016-05-31 22:03] shellscape commented on #98
@simoami we've opted to switch from gonzales-pe to postcss + postcss-less

[2016-05-31 22:03] #98 closed, assigned to nobody

[2016-06-09 15:01] #159 closed, assigned to nobody

[2016-06-12 21:32] DanPurdy commented on #189
This is another example of this issue

[code]

The dollar sign alone is causing the problem which isn't valid but this should throw a parse error rather than the infinite loop.

[2016-06-21 08:43] #174 closed, assigned to nobody

[2016-06-21 08:46] #165 closed, assigned to nobody

[2016-06-21 12:04] #166 closed, assigned to nobody

[2016-06-22 16:02] bgriffith commented on #131
This works now.

[2016-06-22 16:02] #131 closed, assigned to nobody

[2016-06-22 16:10] bgriffith commented on #112
@tonyganch Can this be closed? I can't replicate this issue now.

[2016-06-22 16:15] bgriffith commented on #114
We can close this since the outstanding issue was due to #150 which has been fixed in 3.3.4

[2016-06-22 16:15] #114 closed, assigned to nobody

[2016-06-22 16:18] DanPurdy opened #193 "Sass @at-rule embedding issue"
There's an issue with the Sass syntax where an at-rule immediately following an at-rule on the same level (siblings) is actually interpreted as a child node.

[code]

[code]

happens with media queries, mixins etc too so all at-rules seem equally affected such as with the following example

[code]

[2016-06-23 21:29] DanPurdy opened #194 "nth selector reversion in 3.3.5"
the following causes a parse error in 3.3.5

[code]

the following work correctly

[code]

[code]

Possibly related to https://github.com/tonyganch/gonzales-pe/pull/178

[2016-06-24 00:05] brian252 commented on #57
Hi,

I've recently came across some interesting information, what do you thin about it? Please read here and tell me your opinion <http://quoshuzyque.5fingerlickin.com/aelrqdt>

All best, brian@derocher.org

[2016-06-24 00:06] brian252 commented on #57
Hi,

The stuff I just found is unbelievable, I couldn't imagine that something like that can exist, take a look here <http://quesleprondu.videntis.us/aefkbtzw>

See you soon, brian@derocher.org

[2016-06-29 17:14] rugk opened #195 "Skipping Front matter of Jekyll"
From https://github.com/sasstools/sass-lint/issues/542:

---

Some static site generater such as Jekyll include the [YAML front matter block](http://jekyllrb.com/docs/frontmatter/) at the top of the scss file for their own tracking purposes. [Front matter is necessary to compile.](http://jekyllrb.com/docs/assets/)

[code]

However, syntax error occurs in the sass-lint because the line of triple da

[2016-06-29 17:41] tonyganch commented on #195
cc @DanPurdy

GPE is just a parser, it assumes that the text that you pass is sass, but what you actually give is yaml.
The solution should be outside the parser: cut yaml part somehow and pass the rest (actual sass part) to the parser.
Sorry, this is a wontfix from our side.

[2016-06-29 17:41] #195 closed, assigned to nobody

[2016-06-29 17:46] rugk commented on #195
Mhh...
So do you think this "cut-away" could be included in sass-lint?

[2016-06-30 09:27] tonyganch commented on #195
@DanPurdy @bgriffith, guys what do you think?

[2016-06-30 10:31] rugk commented on #195
Especially /cc @sasstools @woneob...

[2016-06-30 13:17] DanPurdy commented on #195
It's a very grey area I think. On one hand sass-lint doesn't actually care about what files you pass it, only the result we get from the AST but as @tonyganch rightfully says gonzales does care and should only be fed Sass.

The problem for me is that sass-lint would have to read a file interpret it and act on it all before passing it to the AST but im probably leaning more to that than adding supp

[2016-07-01 14:07] tonyganch commented on #194
Thank you @DanPurdy, I'll take a look

[2016-07-01 14:19] DanPurdy commented on #194
@tonyganch thanks! @bgriffith has it fixed in #196 as far as we could see yesterday (I was sitting next to him while he fixed it 👍 )

[2016-07-01 14:36] tonyganch commented on #194
Ha-ha, I haven't looked at PRs and fixed it in `@3.3.6`.
Grab the fix and I'll move more tests from his PR in next release :)

[2016-07-01 14:37] tonyganch commented on #194
I've created a label "has pr open" :)

[2016-07-01 14:37] DanPurdy commented on #194
Perfect! 🎉  👍

[2016-07-01 14:46] #194 closed, assigned to nobody

[2016-07-11 23:28] tonyganch opened #197 "[CSS] Support custom properties (css variables)"
https://www.w3.org/TR/css-variables/

[2016-07-13 10:49] bgriffith opened #198 "Issue with interpolation following attribute selector"
Currently the following will return a parse error due to a problem with interpolation following an attribute selector. The problem is not limited to the `&` and only occurs when there is no space between the attribute selector and interpolation.

[code]

[code]

Reported in https://github.com/sasstools/sass-lint/issues/786

[2016-07-15 09:02] bgriffith commented on #191
#192 closes this

[2016-07-15 09:02] #191 closed, assigned to nobody

[2016-07-24 00:35] eolognt opened #202 "Specify structure of parsed Abstract Syntax Tree"
I found it hard to understand the structure of the AST that is created as you run the parsing function. I've understood that the tree is made up of nodes: one root node that could have zero, one or more child nodes that could have zero, one or more child nodes and so on (I guess every AST is constructed like this). But what does the node interface look like? To my understanding there isn't a stand

[2016-07-24 01:25] tonyganch commented on #202
Hey @eolognt!
This parser's AST is not compatible with cssom's one.

You can check out docs for all available node types and examples here: https://github.com/tonyganch/gonzales-pe/blob/dev/docs/node-types.md
Also, there is a playground for the parser here: http://tonyganch.com/gonzales-pe/
And some other explorer here: https://aslushnikov.github.io/gonzales-live/

Please keep in mind that playgro

[2016-07-24 01:29] tonyganch commented on #202
And regarding interface, all available methods and properties are described in readme: https://github.com/tonyganch/gonzales-pe#parsetreecontainstype
`parseTree` is any valid node.

[2016-07-24 11:07] eolognt commented on #202
Hello @tonyganch! Thanks you, this was exactly what I was looking for :) Finding the documentation under the docs directory is perhaps pretty obvious, but maybe you should include these links anyway in the README? I think it is very helpful for newbies like me to have these tools. :)

[2016-07-25 10:17] tonyganch commented on #202
Can you please help me with that a bit and send a PR? I think you're the best person to understand how to present those links in README so they are noticeable and helpful to newcomers :)

[2016-07-26 11:52] ukupat opened #203 "Using :global pseudo class with keyframes produces Fatal error"
We started using CSS Modules but we wanted to use some keyframes globally that were defined in .scss. For that we had to use `:global` pseudo class that takes an argument https://github.com/css-modules/css-modules#exceptions. Something like this:

[code]

This is the only way to use keyframes globally because of https://github.com/css-modules/css-modules/issues/115

**Using :global with keyframes

[2016-07-26 12:23] tonyganch commented on #203
Seems like example above is a totally valid scss, so I'm marking the issue as bug.
@ukupat, thanks for the report!

[2016-07-26 12:44] ukupat commented on #203
Thanks for your prompt reply!

[2016-07-26 17:46] chrisdrackett opened #204 "imports without quotes in sass syntax"
when using sass syntax I would expect to be able to use an import without quotes ala:

http://sass-lang.com/documentation/file.INDENTED_SYNTAX.html#_import

however, currently I get the following:

`Please check validity of the block starting from line #1`

when using https://github.com/sasstools/sass-lint. I also have an issue on that project:

https://github.com/sasstools/sass-lint/issues/795#is

[2016-07-26 20:05] wernerdweight opened #205 "Using Keyframe Mixin (Compass) produces a Fatal"
This code (which is valid sass (using compass)):

[code]

produces this error:

[code]

I'm using it via Sass-Lint (originally posted this issue here: https://github.com/sasstools/sass-lint/issues/797)

[2016-07-28 20:33] chrisdrackett commented on #204
so this seems to work unless I have leading periods in the import. For example the following works:

`@import variables`

while this does not:

`@import ../variables`

[2016-08-02 11:28] tonyganch commented on #198
I guess the issue is closed by merging #200 into `dev`.

[2016-08-02 11:28] #198 closed, assigned to nobody

[2016-08-02 14:30] eolognt commented on #202
Sure, would love to help! :)

[2016-08-04 17:37] jeffkamo commented on #168
What's the status of this issue? This issue sounds a lot like the issue I [describe in this thread](https://github.com/sasstools/sass-lint/issues/810#issuecomment-237472180).

[2016-08-08 23:40] bgriffith opened #207 "[SCSS|Sass] Numbers following interpolations in class names bug"
Numbers following interpolation in a class selector currently cause an issue.

This is down to the fact that when interpolation is used, numbers that follow are not considered part of an ident as happens when the class name is non-interpolated.
#
# Example issue

`.#{$foo}123` will cause an issue while `.bar123` won't.

In the latter example the tree is:

[code]

@tonyganch In your opinion what ty

[2016-08-09 13:51] tonyganch commented on #207
I think it's okay to make it just a number like in your example above.

[2016-08-09 14:18] bgriffith commented on #207
@tonyganch Great! I've pushed a [PR fixing this](https://github.com/tonyganch/gonzales-pe/pull/208). Feedback would be great.

[2016-08-12 10:20] tonyganch commented on #207
Fixed by merging #208 into `dev`.

[2016-08-12 10:20] #207 closed, assigned to nobody

[2016-08-13 10:07] bgriffith commented on #161
This has been fixed.

[2016-08-13 10:07] #161 closed, assigned to nobody

[2016-08-15 18:24] michaelwarren1106 opened #210 "parse error in font-face mixin with format syntax and multiple src"
for this SCSS

[code]

I'm getting this error

[code]

I've narrowed it down to the `format()` part. If i remove that, everything works, but that is valid css/scss, and I've not seen any other folks having problems with font-face syntax in general.

Little help?

[2016-08-15 18:28] bgriffith commented on #210
Hey @michaelwarren1106 - thanks for the report! You're right about the format, looks like an issue with the url() token and any functions that follows. I'll tag it and hopefully get to have look at it soon.

[2016-08-15 18:29] michaelwarren1106 commented on #210
thanks!

I ran this through the playground just ago, and it doesn't seem to parse there unless each src property is defined by itself. The playground only parses this:

[code]

[2016-08-15 18:31] michaelwarren1106 commented on #210
even when format is removed...

[2016-08-17 18:50] schmod opened #211 "Sass: comments after commas"
The issue described in #88 also affects SASS sources.  Comments after commas lead to parsing errors.

[code]

[code]

[2016-08-17 19:42] schmod commented on #211
I think I've found the problem.  It doesn't look like multiline comments in SASS can ever work because we never look for the closing delimiter:

[code]

[2016-08-18 09:55] bgriffith opened #212 "Multiple interps without prefix in selector cause parse error"
The following code with cause a parse error.

[code]

Dynamic ID's also causes an issue;

[code]

While classes are ok;

[code]

[2016-08-18 15:33] schmod opened #213 "Sass: single-line comments in selector groups"
This valid SASS produces a ParseError:

[code]

[2016-08-18 23:27] mikeerickson opened #216 "Issue w/ atom linter-sass-lint"
I am running into an issue w/ the Atom plugin "linter-sass-lint" and he is claiming it is your issue?

You can gain complete info here

https://github.com/AtomLinter/linter-sass-lint/issues/135

[2016-08-18 23:35] DanPurdy commented on #216
Hi again @mikeerickson,

It's throwing a parse error so you need to provide the code that is failing and why you think it's failing if you know or at least some information.

It's almost definitely going to be a duplicate of this though https://github.com/tonyganch/gonzales-pe/issues/204

I wasn't claiming, I was telling you the exact issue! 😄 😛
please in future try to be a bit more descriptive or

[2016-08-18 23:35] #216 closed, assigned to nobody

[2016-08-18 23:52] mikeerickson commented on #216
Yes sir!

FTR, my initial report included a screenshot of what was happen.  Further this only occurs in atom, if I lint via CLI no errors

[2016-08-19 00:07] DanPurdy commented on #216
Hmm, there must be an issue with the files you're including when using the CLI or how you're using the CLI then as the atom plugin doesn't do anything apart from call sass-lint and consume its output much in the same way you do when you use the CLI. This is a known issue with gonzales-pe at the moment and however it gets parsed in sass-lint it would always throw a parse error if that file is encou

[2016-08-20 22:35] bgriffith opened #218 "New node type for universal selectors"
Hey @tonyganch - What do you think about a new node type for the universal selector? I noticed that `*` is currently considered a `typeSelector` by the parser even though throughout the spec it's always referenced to as `universal selector` type. Would also make it easier when checking for it.

[2016-08-20 23:24] mikeerickson commented on #216
@DanPurdy I have already moved on from this issue, seeing as there doesn't seem to be a desire to fix the issue.  Having said that, in response to your request.  If you want more information or just assume it is my fault, let me know

CLI call

[code]

You can see that one of the .sass files in this above defined path is throwing the error within atom
- screenshot 1
  Shows the error from atom
- s

[2016-08-23 13:35] claudiamatosa opened #219 "SASS mixins/functions: Default values and spread operators"
Hello,

I'm receiving a `ParsingError` when trying to read a function or mixin that are declared with the following two conditions:
- A spread variable at the end.
- The spread variable is preceded by variables with assigned default values.

The provided code examples run in the SASS compiler without issues.

Note: Please find more details about the original issue in https://github.com/sasstools/s

[2016-08-24 09:00] glen-84 commented on #189
This issue makes it impossible to use sass-lint lint-on-type extensions.

@tonyganch Will you be able to take a look at this soon?

[2016-08-24 09:05] DanPurdy opened #220 "Appveyor not testing CRLF"
When looking into an issue with CRLF line endings for blocks in Sass I noticed that appveyor testing isn't actually setup to test for CRLF as we originally intended.

This is missing from the config

[code]

This will open up every test to a failure though as all the tests specifically state that newline characters are `\n` when in this case they will be `\r\n`.

I can't think of a simple solution

[2016-08-24 09:46] DanPurdy commented on #220
Ok so this maybe a slight over-exaggeration as i remembered that I actually included CRLF files in the tests so the line endings are being tested but all the other tests are only for LF. So I'm going to close this as it doesn't actually matter anymore.

[2016-08-24 09:46] #220 closed, assigned to nobody

[2016-08-25 02:27] heatwaveo8 commented on #210
I was seeing issues with this as well as I started testing the sass-lint package for the first time today... nearly the exact code example, actually. See the referenced issue from sass-lint which uses this package. In order to use sass-lint with a GruntJS setup, I'll need both of the following items fixed that @michaelwarren1106 has addressed, so our builds can pass prior to check-in:
1. Add suppo

[2016-08-26 15:16] mimamuh commented on #189
Hi, we have a similar issue when writing long sass class names and a bracket follows a hyphen without whitespace between like this:
.my-very-long-class-name-{}
Then atom freezes.

[2016-08-29 06:11] sascha-egerer opened #221 "Parser error when using a dash followed by a number"
If i use a dash followed by a number i get a parser error (SCSS).

This DOES NOT work:

[code]

This DOES work:

[code]

[2016-08-29 06:21] sascha-egerer commented on #221
Oh sorry looks like this is fixed in the latest version and the packages that has the dependency to gonzales does use an older version.

[2016-08-29 06:21] #221 closed, assigned to nobody

[2016-08-30 14:33] sathomas opened #223 "SASS if function breaks parser"
[code]

breaks the parser

Potential use case: http://stackoverflow.com/questions/39167183/scss-if-function-without-false-else-clause/

Blocking https://github.com/sasstools/sass-lint/issues/854

[2016-10-05 23:08] paigr opened #224 "Sass: Comments are not parsed correctly when using DOS line endings"
This bug affects parsing `.sass` files that use DOS line endings. The bug was discovered in the dependent [sass-lint](https://github.com/sasstools/sass-lint) project, where they found that DOS `.sass` files produced `CommentSLType` and `CommentMLType` Nodes that were parsed incorrectly. Further background can be found in [this pull request](https://github.com/sasstools/sass-lint/pull/743), specifi

[2016-10-13 09:41] ivnmaksimovic commented on #68
Same here with 3.0.0-31.
Parsing error: Please check validity of the block starting from line #7

`left: calc(50% - #{$logo-width / 2});`

Syntax: scss
Gonzales PE version: 3.0.0-31

[2016-10-13 13:39] DanPurdy commented on #68
@ivnmaksimovic this is fixed in the latest versions of gonzales-pe

[code]

[code]

[2016-10-13 13:54] ivnmaksimovic commented on #68
@DanPurdy ok. Thanks. I am using SC5 styleguide, but haven't updated it...

[2016-10-14 10:56] #224 closed, assigned to nobody

[2016-10-17 21:38] #188 closed, assigned to nobody

[2016-10-21 01:02] mmase commented on #168
Following for https://github.com/sasstools/sass-lint/issues/898#issuecomment-255267886

[2016-10-22 11:56] DanPurdy opened #226 "Variable name parsing issue"
In the following example

[code]

The ident would be parsed as `$mobile-site-gutter*1`

[code]

It's fine with CSS

as reported in https://github.com/sasstools/sass-lint/issues/901

[2016-10-22 17:55] tonyganch commented on #226
I'll take a look at this one.

CSS is not okay, at least it looks strange to have two indents and number:

[code]

[2016-10-22 20:35] #226 closed, assigned to tonyganch

[2016-10-22 20:50] tonyganch commented on #226
I've released the fix as `v3.4.6` but wasn't able to test `sass-lint` with it locally: cli tests fail for me with fresh install.
Could you please check if everything is okay? I've changed quite a bit there.

[2016-10-22 21:15] tonyganch commented on #223
Hey @sathomas! I need some help with that issue so I can fix it correctly.
Where can `if()` function be used? Only as a value or basically anywhere (for example, to construct class name).
Also, do I get it right that second and third arguments can be anything at all?
I'll be very grateful for a link to source code of that function :)

[2016-10-22 21:26] #223 closed, assigned to nobody

[2016-10-22 21:30] tonyganch commented on #223
The issue was with `!important` part not being parsed as a function argument.
I hotfixed that and released as `v3.4.7`.

[2016-10-24 08:52] DanPurdy commented on #193
Another example just popped up

[code]

[code]

If you uncomment the line then normal service is resumed!

[code]

[code]

[2016-10-24 13:26] bgriffith commented on #223
Hey @tonyganch - Didn't https://github.com/tonyganch/gonzales-pe/pull/185 fix this?

[2016-10-24 14:04] tonyganch commented on #223
@bgriffith, can you please rebase and merge it into `dev`? :)

[2016-10-24 14:29] #168 closed, assigned to nobody

[2016-10-27 09:10] DanPurdy commented on #169
This is parsing correctly now, closing.

[2016-10-27 09:10] #169 closed, assigned to nobody

[2016-10-31 00:13] #212 closed, assigned to nobody

[2016-10-31 00:52] #154 closed, assigned to nobody

[2016-10-31 00:55] tonyganch commented on #219
Should be fixed via e47d13b

[2016-10-31 00:55] #219 closed, assigned to nobody

[2016-10-31 12:29] DanPurdy commented on #130
@tonyganch just a note to say I ran all of these through the test page and all are parsing without fatal errors now, we can consider closing it if you're happy they're correctly parsing.

[2016-10-31 15:48] tonyganch commented on #189
@MiMaMuh, I can't reproduce the issue with `.my-very-long-class-name-{}` in `dev` anymore.

[2016-10-31 15:51] mimamuh commented on #189
@tonyganch Yes, thx. It seems it works! :)

[2016-10-31 17:55] #189 closed, assigned to nobody

[2016-10-31 17:57] tonyganch commented on #189
@DanPurdy, seems like the issue was with broken `checkParentheses` function which was out of sync with `getParentheses`. Fixed for all syntaxes for parentheses and brackets, available in dev. Now the example from the first comment gets parsed and `($)` throws parsing error.

[2016-10-31 20:41] #218 closed, assigned to nobody

[2016-10-31 20:48] tonyganch commented on #204
@DanPurdy @bgriffith, I need help with formalising that one. `@import` can be followed by any number of any characters except line breaks and semicolons = does that sound correct?

[2016-10-31 20:50] #202 closed, assigned to nobody

[2016-10-31 20:53] tonyganch commented on #171
I believe this should be fixed in dev already, will be released with upcoming v4.0.
Related PR: https://github.com/tonyganch/gonzales-pe/pull/215

[2016-10-31 20:53] #171 closed, assigned to nobody

[2016-10-31 20:56] tonyganch commented on #134
The last two issues appear to be fixed in dev, the first one is still reproducible.

[2016-10-31 20:57] #112 closed, assigned to nobody

[2016-11-01 10:41] DanPurdy commented on #204
@tonyganch I believe anything that can be a valid file name / path, yes. You can't use glob characters though as each partial has to be imported individually.

[code]

[2016-11-01 16:40] bgriffith opened #227 "[SCSS|Sass] Parse error when interp directly follow attribute selectors"
Parse error caused by interps following attribute selectors. Fails in both SCSS and Sass.

[code]

[2016-11-02 00:46] bgriffith opened #228 "[Sass] Empty selector declaration causes parse error"
Currently empty declarations cause a parse error. Works fine in `SCSS` e.g. `.foo {}`.

`universalSelector`, `typeSelector`, `class`, `shash`, `parentSelector`, `attributeSelector`

Test cases - each one causes a parse error.

[code]

[2016-11-02 02:37] raphaelfabeni commented on #205
I have a similar error 😢 . I posted about it in the same issue that @wernerdweight .
Link here => [sasstols/sass-lint#797](https://github.com/sasstools/sass-lint/issues/797#issuecomment-257749983)

[2016-11-02 02:42] raphaelfabeni commented on #205
I have a similar error using `.sass` syntax. 😢
I posted in the same issue. sasstols/sasslint#797

[2016-11-02 02:47] raphaelfabeni commented on #205
I have a similar error using .sass syntax. 😢
I posted in the same issue. sasstools/sass-lint#797.

[2016-11-02 11:33] DanPurdy opened #229 "Sass 3.5 on the horizon"
Im sure we're all aware that Sass 3.5 is on its way. Its currently waiting for libsass to get 3.4 parity before they push 3.5 but with the announcement of Dart Sass too it's possibly going to be arriving quicker than we thought.

http://blog.sass-lang.com/posts/809572-sass-35-release-candidate

Few new features we'll have to take into account here I assume.

[2016-11-02 23:21] tonyganch commented on #197
From [Sass 3.5 announcement](http://blog.sass-lang.com/posts/809572-sass-35-release-candidate):

So we decided on a compromise: we'd treat custom properties like we do selectors and at-rule values, and only allow #{} as a means of including Sass values. While technically this is plain CSS, it's a very small surface area and it's very easy to escape, so we're not too worried. This means that in 3.5

[2016-11-02 23:23] tonyganch opened #230 "Support for named grid lines"
Spec: https://www.w3.org/TR/2016/CR-css-grid-1-20160929/#named-lines

Example from the spec:
[code]

[2016-11-02 23:29] tonyganch commented on #229
Thanks for a heads-up!
Here is the list of new stuff I see, mainly about new CSS syntax than something specific to Sass:
- Custom property support - #197
- Named grid lines - #230

If you find something missing, please be so kind to open more issues? :)

[2016-11-02 23:29] #229 closed, assigned to nobody

[2016-11-02 23:32] tonyganch commented on #228
Oh my... This will take some time to figure out.
How would you like to parse it? With an empty block? Or just a ruleset with a lonely selector inside?
I guess empty block makes more sense for easy removing of empty rulesets?

[2016-11-02 23:35] bgriffith commented on #228
I know right?! I had a quick look to see if there was an easy fix but quickly changed my mind 😆

Yep - a ruleset with an empty block would be best.

[2016-11-03 00:05] tonyganch commented on #229
I've checked their directory with tests and seems like the only thing there affecting the parser is ["Arguments can end with a comma"](https://github.com/sass/sass-spec/tree/master/spec/sass_3_5/arglists/can-end-with-comma), but we parse it okay already, so no additional work needed.

[2016-11-03 00:06] tonyganch opened #231 "Add tests from sass-spec"
List of tests: https://github.com/sass/sass-spec/tree/master/spec

[2016-11-03 00:57] #205 closed, assigned to tonyganch

[2016-11-03 01:07] tonyganch commented on #205
@raphaelfabeni, I took a look at example you posted at sass-lint, and the issue is somewhat not related to @wernerdweight's one. The thing that breaks your code should be fixed with PR #214, so hold on a little.

[2016-11-03 04:19] #193 closed, assigned to tonyganch

[2016-11-03 04:19] tonyganch commented on #193
I rewrote part which marked where blocks ended and it should have fixed similar issues.

First example:

[code]

<details>
<summary>

Parse tree</summary>

[code]

</details>

Second example:

[code]

<details>
<summary>

Parse tree</summary>

[code]

</details>

[2016-11-03 10:02] DanPurdy commented on #231
@bgriffith we should look into these for sass-lint tests too.

[2016-11-03 10:28] DanPurdy commented on #228
That works for me too, definitely the best option i reckon.

[2016-11-03 12:53] #17 closed, assigned to nobody

[2016-11-06 00:05] DanPurdy opened #232 "Pseudo class parse error"
The following cause a parse error

[code]
The following does not (note the lack of spaces)

[code]

the working example also does not work at all in Less

Originally reported [here](https://github.com/sasstools/sass-lint/issues/931)

[2016-11-07 13:26] bgriffith commented on #134
#237 Fixes the trailing comma issue in `SCSS` but not `Sass`

[2016-11-08 10:10] bgriffith opened #238 "[Sass|SCSS] Extra comma with selectors causes parse error"
The code below is valid in Sass, but not CSS. No surprises, this will give a parser error 😑

[code]

https://github.com/sass/sass-spec/blob/master/spec/basic/36_extra_commas_in_selectors/input.scss

[2016-11-08 10:47] bgriffith opened #239 "[Sass|SCSS] Using double quotes within interp causes parse error"
Using double quotes with an interp within an attribute selector causes a parse error.

The following code causes an error:
[code]
While the following code is ok:
[code]

[2016-11-09 15:25] sarabarrerariano opened #242 "Spaces before and after variable throws validity error"
Error message given -> Please check validity of the block starting from line #31

Example:
This doesn' work
`src: url($themepath_base + 'fonts/Interstate-ExtraLightItalic.eot');
`
This works (notice the deleted spaces between the variable)
`src: url($themepath_base+'fonts/Interstate-ExtraLightItalic.eot');`

[2016-11-09 15:28] DanPurdy commented on #242
The parse error is already fixed in the dev branch and should be released shortly.

@tonyganch @bgriffith

The actual parse tree looks incorrect to me though for the following example, duplicated declaration delimiters and the operator is missing from the uri content too.

[code]

[code]

[2016-11-09 15:33] sarabarrerariano commented on #242
Have you got any idea when 'shortly' is? Are we talking about days, weeks, months?
Thanks for the fast response

[2016-11-09 15:37] DanPurdy commented on #242
Afraid not, There's a few PR's waiting for some crucial fixes/ additions and then there will be a major version bump.
If you're coming from sass-lint or another tool then it means there will be a bit of updating required there too to accomodate these changes. I would honestly think it would be in the coming couple of weeks.

[2016-11-09 15:42] sarabarrerariano commented on #242
I'm using sc5 styleguides and it uses gonzales.
That's why I'm stuck now at generating my styleguides.
So that's a bit unfortunate...

Hope it will be fixed fast :)

[2016-11-10 12:20] thejamespower opened #243 "Issues with Interpolation"
[code]
The code is valid scss. Interestingly `width: calc(100% - #{$variable});` is fine.

A similar error occurs here:

[code]

Full block:
[code]

[2016-11-10 12:22] DanPurdy commented on #243
You're using an out of date version of Gonzales-pe, This error is already fixed in later versions. What package are you using which uses Gonzales-pe? The second example I'm not quite sure about now haven't got it tested. @bgriffith ?

[2016-11-10 16:44] tonyganch commented on #242
@sarabarrerariano, we've got just one PR blocking the next release (#214), if the author doesn't respond in next couple of days, I'll fix the remaining comments myself.

/cc @varya
Since that will be a major release (v4.0), sc5 team will need to update their `package.json` file. I hope there will be no breaking changes for them requiring code update.

@DanPurdy, I'll take a look at parsing tree.

[2016-11-10 16:52] tonyganch commented on #242
@DanPurdy, both issues (double declaration delimiters and no operator) will be fixed with Ben's #217

[2016-11-10 17:06] tonyganch commented on #243
@DanPurdy, this looks like csscomb via atom-beautify, the latest stable version uses gpe@3.0.0

@thejamespower, both issues are fixed in the latest version of this parser, but I'm not sure when it will get to csscomb, sorry. I'll take a look what we can do.

Closing this issue as fixed.

[2016-11-10 17:06] #243 closed, assigned to nobody

[2016-11-11 13:36] thejamespower commented on #243
@DanPurdy, @tonyganch, thanks for the heads up. Will await on CSSComb :)

[2016-11-14 08:36] sarabarrerariano commented on #242
Any idea when the PR will be accepted and merged? (No pressure :) )
And hopefully there will be no breaking changes when using sc5

[2016-11-14 08:50] DanPurdy commented on #242
The next breaking of gonzales is going to be v4 so I would expect breaking changes.

[2016-11-14 14:36] abpetkov opened #244 "Property interpolation causes a fatal error"
Using double interpolation on a CSS property causes a fatal error.

Code that errors out:
[code]

Code that works:
[code]

[2016-11-14 14:38] bgriffith commented on #244
Hey @abpetkov - Thanks for the report. You'll be pleased to hear that this is already fixed on develop, just waiting a release :+1:

[2016-11-14 14:39] abpetkov commented on #244
@bgriffith that's good news! Please follow up on this issue when the release goes out and we can close it after that.

[2016-11-14 15:02] bgriffith commented on #244
I'll close this now so I know it's fixed on dev, but will update the sass-lint issue once it's fixed in that too.

[2016-11-14 15:03] #244 closed, assigned to nobody

[2016-11-14 20:33] TheJaredWilcurt commented on #193
Using latest version of Gulp-Sass-Lint with this file:

![indentation](https://cloud.githubusercontent.com/assets/4629794/20281726/9c3e85b0-aa7f-11e6-8925-f4dbfd51adc9.png)

[2016-11-14 23:48] tbassetto opened #245 "Node cannot find module 'gonzales-pe'"
I have followed the instructions in the README to install parser as a project dependency:
[code]
And I am using it like this:
[code]
But I get:
[code]
I suspect it's because `package.json` has `"./lib/gonzales"` for the `"main"` property, which doesn't exist!

How to use the parser in a node project then?

[2016-11-15 09:21] DanPurdy commented on #245
Because you installed it directly from Github I believe you'll have to build it before you can use the package. Might not be correct but you can try moving into the gonzales-pe folder and running

`npm run build`

see [here](https://github.com/tonyganch/gonzales-pe/blob/dev/package.json#L20) and then try using the package again.

[2016-11-15 20:42] tbassetto commented on #245
Hey. I have installed the package again using `npm install --save gonzales-pe` and it works as expected. Is it an official package published on npm? If yes it should probably used in the README instead of recommending the installation via GitHub.

[2016-11-16 10:40] tonyganch commented on #242
Hey @sarabarrerariano, the release is planned for tomorrow, 17.11

[2016-11-16 12:18] DanPurdy commented on #245
Yes it is it's just that there is a build step involved. Before publishing to NPM a build step is invoked and that output is pushed to NPM whereas obvously targeting Github means that pre-publish hasn't happened.

I agree that it's probably a good idea to document this in the Readme though.

[2016-11-17 12:29] tonyganch commented on #245
Hey guys! There was a `postinstall` script that allowed installing straight from GitHub without any additional build steps, but there was a problem reported on Windows platform and I disabled it:
https://github.com/tonyganch/gonzales-pe/commit/f3357117329a8c477ced52686e74a7a9dc7cb9b5

I completely forgot about it since then and never restored it back. I'll take a look after v4.0 release.

[2016-11-17 12:30] tonyganch commented on #245
Related issue: #149

[2016-11-17 12:53] #211 closed, assigned to nobody

[2016-11-17 12:53] #213 closed, assigned to nobody

[2016-11-17 18:20] tonyganch commented on #245
@tbassetto, could you please test installing `gonzales-pe` from GitHub once again? I've added `postinstall` script, tested it locally and both Travis and Appveyor look okay, but I'm not 100% sure about it.

[2016-11-17 23:41] bgriffith opened #246 "[Sass] Trailing newlines cause parse error"
As of `v4`, trailing new lines in `sass` files cause the parser to fail.

![screen shot 2016-11-17 at 23 41 39](https://cloud.githubusercontent.com/assets/2854338/20412563/6609cfd4-ad1f-11e6-8e46-68366531d14c.png)

[2016-11-17 23:52] DanPurdy commented on #245
If it's a purely bash script it won't be suitable.. Bash might work on the latest windows but for legacy it will fail.. If we want to keep it pure we should look at node postinstall scripts

[2016-11-18 00:01] bgriffith commented on #246
Possibly related, the following code is ok:

[code]

while the following code causes a parse error

[code]

[2016-11-18 00:24] bgriffith commented on #245
Talking of which - after updating the dep to v4 getting;

[code]

https://travis-ci.org/sasstools/sass-lint/jobs/176886355

[2016-11-18 07:05] tonyganch commented on #245
Thanks for the news, guys. I've removed the script, released 4.0.1 without it and will just update docs, so we will live without GitHub installations.

[2016-11-18 08:24] tonyganch commented on #246
Here is the commit causing the issue: da531859a579ee7a56265824221c6ee7075599cb
I will have time to fix that only tomorrow, please add more examples if you find anything.

[2016-11-18 08:31] tonyganch commented on #246
@bgriffith, fixed the original issue in dev and published as v4.0.2 :)
Please check and let me know how it goes.

[2016-11-18 08:34] tonyganch commented on #246
Also updated playground with the current version: http://tonyganch.com/gonzales-pe/

[2016-11-18 12:48] bgriffith commented on #246
Awesome thanks @tonyganch  - Only that remaining issue before we can move `sass-lint` over - https://travis-ci.org/sasstools/sass-lint/jobs/177008078.

Here's the direct link to the line with the issue - https://github.com/sasstools/sass-lint/blob/develop/tests/sass/indentation/indentation-spaces.sass#L38

[2016-11-20 13:39] tonyganch commented on #242
#217 is merged and published as v4.0.3, closing the issue.

[2016-11-20 13:39] #242 closed, assigned to nobody

[2016-11-21 08:10] fernando24164 opened #247 "Parse scss file problem"
I got an error while I was parsing scss.
This is the code line:

[code]

The code is from here:
https://github.com/grafana/grafana/blob/v3.1.1/public/sass/components/_dropdown.scss#L13

Hope this can help. Thanks.

[2016-11-21 11:40] tonyganch commented on #247
Hi @fernando24164, I'm sorry to say that I'm not planning to support hacks for older browser.
I believe it makes the parser depend on broken implementation and I would like to parse code according to stable specs.
I understand it will make it impossible for the parser and all the tools that are based on it to work with such code, but it will require more work to implement it properly than it will

[2016-11-21 11:40] #247 closed, assigned to nobody

[2016-11-22 11:12] bgriffith commented on #180
Hey @tonyganch - I've started looking at unifying the code style across the syntaxes and after doing a diff I'm happy to say that the majority of the diffs are with the JSDoc.

It would be great if we could get this sorted, `sass` seems to have the latest? - if you need any help give me a shout!

[2016-11-28 16:41] tonyganch opened #249 "Parse descendant combinators"
MDN:
https://developer.mozilla.org/en-US/docs/Web/CSS/Descendant_selectors

Spec:
https://drafts.csswg.org/selectors-4/#descendant-combinators

[2016-11-28 17:07] bgriffith opened #250 "[Less] Update dimensions with units checker"
Currently the `less` parser has the old `dimensions` checker/getter and doesn't use the `checkUnits` `getUnits` functions that were added a few months back to the `css`, `sass` and `scss` parsers.

Should be updated.

[2016-11-28 18:11] bgriffith opened #251 "[Less] [attr|=value] Causes parse error"
The `less` parser needs to be updated to allow it to handle `[attr|=value]`. This is a fix to the `namespace` functions and has already been applied to `css`, `sass` and `scss` parsers.

[2016-12-07 00:36] DanPurdy opened #252 "Sass multiline comments"
There seems to be an issue parsing comments in Sass syntax. The following throws a parse error, even in the playground, whereas with SCSS it compiles fine.

[code]

Original issue
https://github.com/sasstools/sass-lint/issues/972

[2016-12-09 18:24] mattmischuk opened #253 "[sass] Doesn't support `>>>` combinator (shadow-piercing descendant combinator)"
A fatal error is returned if `>>>` selector is used (shadow-piercing descendant combinator).

https://drafts.csswg.org/css-scoping/#deep-combinator

Example:
[code]

[2016-12-09 18:28] mattmischuk commented on #253
Link back to origin. https://github.com/sasstools/sass-lint/issues/974

[2016-12-10 06:26] khankuan opened #254 "CSS Modules global scope"
Hi, I'm using CSS modules with sass lint, the following causes a fatal error:
[code]

[2016-12-11 15:28] nithinankam opened #255 "Please check validity of the block starting from line Fatal"
Forwarded from https://github.com/sasstools/sass-lint/issues/902

@keyframes #{pulsate}-#{$i} {
0% {
-webkit-transform: rotate($i) scale(1);
-moz-transform: rotate($i) scale(1);
-ms-transform: rotate($i) scale(1);
-o-transform: rotate($i) scale(1);
transform: rotate($i) scale(1);
}
50% {
-webkit-transform: rotate($i) scale(1.5);
-moz-transform: rotate($i) scale(1.5);
-ms-transform: rotate($i) scal

[2016-12-14 09:17] eugef commented on #197
Right now parsing the css variable like `--my-var: #ffffff` gives an error `Please check validity of the block starting from line`

[2016-12-15 10:37] arondius opened #256 "Sass interpolation wrapping a sass function seems to be unsupported"
Sass interpolation wrapping a sass function seems to be unsupported:

The following rule will give me an error in atom:
.selector {
    width: calc(33.333333% - #{margin-padding(1)});
}

When Sass interpolation is wrapping a variable everything works as expected:
.selector {
    width: calc(33.333333% - #{$font-size});
}

Unsupported beautification result 'Parsing error: Please check the validity

[2016-12-22 13:09] TheJaredWilcurt opened #257 "Bug: Animation percents on separate lines causes fatal error"
Original issue is here:

* https://github.com/sasstools/sass-lint/issues/980

Reposting below for clarity:

* * *

**Version:** Latest (1.10.2)
**Code:**
[code]
**Error:**
[code]

This goes away if I put the `90%, 100%` on the same line. But that doesn't match the rest of my code, in which all comma separated selectors are on separate lines. And the `90%, 100%` being on separate lines has always b

[2016-12-22 22:15] dimanech opened #258 "[SCSS] parser falls into endless cycle when try to parse mixins with space before parenthesis"
Hi, I am using sass-lint (1.10.2) and faced with some problem. In case when I have mixin with _space after name_ adding variables cause error that fills like parser go into endless cycle:
[code]
No errors, just 100% CPU usage, Atom UI freeze.

It would be great to have some kind of timeout exceptions for this cases.

[2016-12-22 22:23] #258 closed, assigned to nobody

[2017-01-04 10:27] luisbd commented on #150
I'm still finding this issue with both
` $parent: #{&};
$parent: &;
`
I checked in Gonzales-PE Live Parser and it returns the same error with the message "Please check validity of the block starting from line..." although Sass compiles properly in both cases.

[2017-01-09 09:35] DanielaValero opened #259 "Make silent option available for node usage. Now is available only within the cli"
Hello,

In #222, the feature of printing the context when a parsing error happens was requested. However, this feature was intentionally removed from the default error message printing. At the moment is enabled in the `cli` by setting the option: `silent: false` when running `gonzales-pe` in the command line.

However the feature is not yet available within the `lib/`, so it is not possible to pri

[2017-02-15 18:48] JosefJezek opened #260 "Please add support for CSS mixins using @apply rule"
- https://www.polymer-project.org/1.0/docs/devguide/styling#custom-css-mixins
- http://tabatkins.github.io/specs/css-apply-rule/

[code]

[code]

https://github.com/csscomb/csscomb.js/issues/480

[2017-03-10 10:17] Aaronphy opened #261 "I wish a new feature for typescript"
I am using your npm packages  , but I use typescript , I wish a  @type/gonzales-pe  ,just a index.d.ts

[2017-03-16 20:27] cancerberoSgx opened #262 "css variables"
Please support css variables like this:

[code]

https://www.w3.org/TR/css-variables/

Thanks!, incredible project BTW !! :) :)

[2017-03-21 11:56] tonyganch commented on #262
Hi @cancerberoSgx, I'm closing this issue as a duplicate of #197, please subsсribe there for updates.

[2017-03-21 11:56] #262 closed, assigned to nobody

[2017-03-27 18:50] DizWARE opened #263 "::slotted() selector throws fatal error"
I'm currently in the process of upgrading a project to use W3C spec Custom Components, and am running into an issue with the `::slotted` psuedo-element.

Here's some links for reference:
[W3C Spec for Shadow DOM](https://w3c.github.io/webcomponents/spec/shadow/)
[W3C Spec for ::slotted](https://drafts.csswg.org/css-scoping/#slotted-pseudo)
[Custom Elements - MDN](https://developer.mozilla.org/en-U

[2017-04-10 10:53] AleshaOleg opened #264 "Wrong Sass parsing of nested properties, marks it as pseudoClass"
Let's explain bug in example. Here it is:

[code]

GPE, should mark this one as nested property, but `border` and `style` returning as two different `blocks`. In addition to `border` marked as `pseudoClass` what is wrong.

Sass have this feature as `Nested Properties`. You can read more [there](http://sass-lang.com/documentation/file.SASS_REFERENCE.html#nested_rules).

GPE playground or with `gonz

[2017-04-10 10:57] AleshaOleg commented on #264
Unfortunately not everything in Sass, marked with colon is pseudo-class.
https://github.com/tonyganch/gonzales-pe/blob/dev/src/sass/stringify.js#L84

[2017-04-18 15:32] Kunepro commented on #253
Same issue with `/deep/`.

[2017-04-18 15:46] tonyganch commented on #253
@Kunepro, `/deep/` is deprecated

[2017-04-18 16:08] Kunepro commented on #253
@tonyganch Not for Angular https://angular.io/docs/ts/latest/guide/component-styles.html
Anyway I found out that the issue is not `/deep/`, but I was trying to use `/deep/ >`. Css wise `/deep/ >` is valid (or at least it works), but not for the linter. Thanks to changes in the app structure now I could delete that `/deep/` as personally I try to avoid shadow-piercing as much as possible, but the i

[2017-05-03 20:44] AleshaOleg commented on #264
I'm ready to fix this issue, could anybody give a advice in which part of this [file](https://github.com/tonyganch/gonzales-pe/blob/dev/src/sass/parse.js), i should watch?

[2017-05-08 14:36] delijah opened #265 "Using a backslash for escaping raises an error"
What version of Gonzales are you using?
3.4.7

What did you do? Please include the actual source code causing the issue.
I want to use ":global" (css-modules), ":import" (ICSS) and ":export" (ICSS) within my sass files.
To not raise an node-sass syntax error, i have to escape the ":" like so: "\:global".

[code]

Related to: https://github.com/sasstools/sass-lint/issues/1066

What did you expect t

[2017-05-16 16:43] delijah commented on #265
Hey! Any news on this?

[2017-05-23 08:22] delijah commented on #265
Is there any chance to have a fix soon? Or if you give me a hint in which code part this is checked/missing, i'll might be able to have a look or create a pull request by myself.

[2017-05-24 12:32] varya opened #266 "Does not parse SASS single line comments after a block of code"
I created a repo to demonstrate the issue https://github.com/varya/sc5-styleguide-1044

Gonzales' `node test/single-test.js` does not work. So I had to go with the separate repo.

How to get the result:
Clone https://github.com/varya/sc5-styleguide-1044, run `npm install` and then run `node gonzales-test.js`

What is happening:
You will see the output which prints one node with this parameters:
[c

[2017-05-24 14:16] NorfAlrin opened #267 "Mixin inside @keyframes causes error"
**Code**
[code]
**Error:**  69:1  error  Please check validity of the block starting from line #69  Fatal

[2017-05-26 00:03] NorfAlrin commented on #267
Sorry i've logged this to the wrong project :(

[2017-05-26 00:03] #267 closed, assigned to nobody

[2017-05-30 13:28] delijah commented on #265
Unfortunately this code is too complex for me to find the related line of code by myself... any help would be appreciated.

[2017-06-13 08:53] tonyganch commented on #265
Hi @delijah! First of all, sorry for not replying sooner.

Are you sure GPE has problems with your code? Could you please provide the full text of error you're getting?
I tried your code in playground (http://tonyganch.com/gonzales-pe/) and it's parsed just fine.

Anyway, the place in the code that's checking if next N characters are part of pseudoclass is here:
https://github.com/tonyganch/gonzal

[2017-07-13 13:09] sambaldwin commented on #197
+1

[2017-07-18 11:22] hopefuture commented on #197
+1

[2017-08-04 18:48] henrahmagix commented on #193
@tonyganch May we please have a release of this fix? I've been using it with sass-lint@1.10.2 on a few codebases, and it would mean https://github.com/sasstools/sass-lint/issues/1084 can be closed.

[2017-08-18 18:25] #227 closed, assigned to bgriffith

[2017-08-18 19:12] #232 closed, assigned to bgriffith

[2017-08-19 10:26] #203 closed, assigned to bgriffith

[2017-08-19 10:28] bgriffith commented on #251
Fixed in https://github.com/tonyganch/gonzales-pe/pull/241

[2017-08-19 10:28] #251 closed, assigned to nobody

[2017-08-19 10:48] bgriffith opened #270 "Attribute selector parse issues"
This following will cause a parse error (CSS, SCSS, Sass, Less)

[code]

This is due to `#` in the first and second example and the `.` in the last.

@tonyganch Any thoughts on how `#`, `#foo` and `.cn` should parse?

[2017-08-20 13:26] bgriffith commented on #197
Any thoughts on how to approach custom properties on a node level?

Would `--my-var: #ffffff` parse like a standard property? or would it have a `customProperty` node type?

[code]

[2017-08-20 13:27] #250 closed, assigned to nobody

[2017-08-20 15:46] bgriffith commented on #270
Closing this as the above is invalid CSS. Attribute values must be idents or strings https://drafts.csswg.org/selectors-4/#attribute-substrings

[2017-08-20 15:46] #270 closed, assigned to nobody

[2017-08-27 22:24] bgriffith commented on #254
Fixed in `v4.1.1`

[2017-08-27 22:24] #254 closed, assigned to nobody

[2017-08-27 22:26] bgriffith commented on #256
This has been fixed for a while but also works in the latest release `v4.1.1`

[2017-08-27 22:26] #256 closed, assigned to nobody

[2017-08-28 23:16] #249 closed, assigned to nobody

[2017-08-28 23:16] #253 closed, assigned to nobody

[2017-08-28 23:17] #263 closed, assigned to nobody

[2017-08-29 23:07] bgriffith commented on #257
Fixed in latest version of gonzales-pe (4.2.2)

[2017-08-29 23:07] #257 closed, assigned to nobody

[2017-08-29 23:13] bgriffith commented on #210
This is fixed.

[2017-08-29 23:13] #210 closed, assigned to bgriffith

[2017-08-29 23:14] bgriffith commented on #187
This is fixed.

[2017-08-29 23:14] #187 closed, assigned to bgriffith

[2017-08-29 23:15] bgriffith commented on #130
These are all fixed.

[2017-08-29 23:15] #130 closed, assigned to nobody

[2017-08-29 23:17] bgriffith commented on #85
All of these now work.

[2017-08-29 23:17] #85 closed, assigned to bgriffith

[2017-08-29 23:18] bgriffith commented on #255
This should now be fixed in the latest release `v4.2.2`

[2017-08-29 23:18] #255 closed, assigned to nobody

[2017-08-29 23:29] bgriffith commented on #266
~~Hey @varya - just tried using `v4.2.2` and I'm now getting multiple nodes. Could you check to see if the problem still exists? Thanks!~~

Ignore the above - I see that this matches the issue you report. I'll look into it.

[2017-09-01 19:18] bgriffith commented on #265
Is this still an issue? I can't seem to replicate. Do you have some more info on how to get this to error out? Thanks!

[2017-09-02 15:14] bgriffith commented on #265
Closing for now.

[2017-09-02 15:14] #265 closed, assigned to nobody

[2017-09-02 15:16] bgriffith commented on #246
Closing as this was fixed.

[2017-09-02 15:16] #246 closed, assigned to tonyganch

[2017-09-02 15:45] #134 closed, assigned to nobody

[2017-09-14 17:01] DanPurdy opened #282 "Background image infinite loop"
[code]

[code]

Both of these are causing infinite loops it looks like.

[2017-09-28 17:35] #282 closed, assigned to nobody

[2017-10-03 16:23] JakeChampion commented on #29
It turns out this is now a fatal parsing error.
[code]

If I work on enabling these browser hacks to be parsed successfully and not stripped from the generated CSS, would that be accepted?

[2017-10-05 20:10] bgriffith commented on #29
Hey @JakeChampion - apologies for the delay. Been pondering whether to support browser hacks or not. In this instance I think we should and parse this hack as it has been so widely used. Happy to receive any PRs.

[2017-10-07 06:14] rasulovdev opened #284 "Sorry, wrong repo."
Sorry, wrong repo.

[2017-10-07 06:21] #284 closed, assigned to nobody

[2017-12-30 12:48] AleshaOleg opened #288 "tonyganch.com not available"
Hey @tonyganch! tonyganch.com is actually not available. Please renew it:)

[2018-01-20 23:05] maletsden opened #289 "Wrong parsing of @media inside @media"
If we have @media inside the @media:

[code]

Then Gonzales determine «h2» as separate rule (not the child of @media screen)

But this word fine:

[code]

Could this be solved?

[2018-01-26 22:59] AleshaOleg commented on #289
@maletsden What do you suppose to see as a result of converting your Sass example to CSS?

[2018-01-27 08:16] maletsden commented on #289
I don’t need to parse SASS to CSS.

@media screen
	@media print
   		h1
   			color: black
	h2
   		color: blue

I just want «@media print»  to be a child (atrule inside «@media screen».content) of «@media screen»

Is it posible?

[2018-01-27 08:18] maletsden commented on #289
And «h2» should be inside «@media screen» as well

Thanks

[2018-01-27 12:56] AleshaOleg commented on #289
I think that impossible usage. Because in CSS we can just use `@media print.` If you wanna to extend your `screen` simply use `@media screen, print` - like in examples on [this](https://developer.mozilla.org/en-US/docs/Web/CSS/@media) page, outside of other `@media.` For example:

[code]

That's why asked about CSS, how you suppose your compiled variant should look?
`@media screen @media print.`?

[2018-01-27 13:19] maletsden commented on #289
Okay, probably, you are right. Sorry, for your time

Thank you a lot

[2018-01-27 16:36] maletsden commented on #289
Also, have you worked on nested properties? Something like that:

.funky
	:font 20px/24px fantasy
		weight: bold

[2018-05-07 13:02] pwilver12 commented on #204
I am experiencing a similar error when using `sass-lint` along with Webpack `sass-loader`. I am using their [custom import syntax](https://github.com/webpack-contrib/sass-loader#imports) to resolve import paths by prepending a `~` to my import statements, i.e.

```@import ~path/to/partial```

The same error (`Please check validity of the block...`) is appearing in this instance as well, which prev

[2018-05-09 16:48] dosentmatter opened #290 "Gonzales PE 4.2.3 Fails Parsing SCSS Custom CSS Variable With #{} Interpolation"
I am using [Sass Extract](https://github.com/jgranstrom/sass-extract) which uses [Gonzales PE ^4.2.2](https://github.com/jgranstrom/sass-extract/blob/master/package.json#L35). I am on Gonzales PE 4.2.3.

I'm trying to parse the [Bootstrap](https://github.com/twbs/bootstrap) scss to grab variables using Sass Extract. However it fails on one file, [`_root.scss`](https://github.com/twbs/bootstrap/blo

[2018-06-21 22:31] rpearce commented on #290
Glad I found this issue, as I'm having the same problem with colors, as well:
[code]
It comes through [sass-lint](https://github.com/sasstools/sass-lint) as an error to like so:
[code]

[2018-06-25 08:41] seventhqueen commented on #290
Hi, have you found any workaround for that?

[2018-06-25 08:53] rpearce commented on #290
@seventhqueen Nope

[2018-06-29 04:59] dosentmatter commented on #290
@seventhqueen, well if you are writing the Sass yourself, just move the hyphens inside the interpolation:
[code]
to
[code]

My problem is that I'm trying to run gonzales-pe on Sass out of my control.

[2018-07-02 10:22] seventhqueen commented on #290
Thanks, will run some test. I have the freedom to change them

—
Gabriel
SeventhQueen Team
http://seventhqueen.com

Support site
http://seventhqueen.com/support

On 29 June 2018 at 07:59:56, Kevin Lau (notifications@github.com) wrote:

@seventhqueen <https://github.com/seventhqueen>, well if you are writing
the Sass yourself, just move the hyphens inside the interpolation:

    --#{$color}: #{$val

[2018-08-07 11:02] titos2k commented on #290
also it fails when variable has _$--name_  format.   For example Element vue UI library is using that format in their scss

[2018-10-27 08:19] e-cloud opened #293 "playground link is unaccesible"

[2019-02-25 07:26] dgattey commented on #197
Is this getting looked at? sass-lint relies on this AST, and as such, you can't write code with custom variables natively and run sass-lint on it. Seems like this issue has been open for 3 years, CSS variables are very much native at this point.

[2019-03-21 16:51] tonyganch opened #294 "Publish v4.2.4"
@srowhani has been patiently waiting for his #292 to be published for ages 🤦‍♂️

@jdalton, please 🐙

[2019-03-21 22:25] #293 closed, assigned to nobody

[2019-03-21 22:27] tonyganch commented on #288
Fixed link to the playground in e50e555

[2019-03-21 22:27] #288 closed, assigned to nobody

[2019-03-21 22:37] tonyganch commented on #259
Spring cleaning of issue tracker 🧼
Closing this one as it was fixed with https://github.com/SC5/sc5-styleguide/commit/05b964f107fde3c26cac084174b96c4dd618c860

[2019-03-21 22:37] #259 closed, assigned to nobody

[2019-03-21 22:44] tonyganch commented on #125
Spring cleaning of issue tracker 🧼

Closing the issue as resolved.

[2019-03-21 22:44] #125 closed, assigned to nobody

[2019-03-21 22:45] tonyganch commented on #290
Related issue: #197

[2019-03-22 18:04] srowhani commented on #294
@jdalton Could you also publish to npm?

[2019-03-22 18:20] jdalton commented on #294
Hi @srowhani!

Yep. I'll update this issue when published. You can expect it published some time today.

**Update:**

`gonzales-pe` [v4.2.4](https://github.com/tonyganch/gonzales-pe/blob/dev/CHANGELOG.md#22032019-version-424) is released 🎉

[2019-03-22 21:24] jdalton commented on #294
**Update:**

`gonzales-pe` [v4.2.4](https://github.com/tonyganch/gonzales-pe/blob/dev/CHANGELOG.md#22032019-version-424) is released 🎉

[2019-03-22 21:25] #294 closed, assigned to jdalton

[2019-03-25 04:30] jdalton commented on #197
Hi @dgattey!

I believe initial support landed via #276 in [v4.2.0](https://github.com/tonyganch/gonzales-pe/blob/dev/CHANGELOG.md#29082017-version-420).

_Note: There's an open issue #290 to add support for custom properties with interpolation that I'm actively working on._

[2019-03-25 04:30] #197 closed, assigned to jdalton

[2019-03-25 04:32] jdalton commented on #290
Good news!

I've got this patched and working locally with an added unit test :tada:

I'd like to familiarize myself a bit more with the code base before pushing it forward.
Expect it to land within the week though.

**Update:**

I've opened a WIP PR at #295.

**Update:**

Closed by #295 :tada:

[2019-03-25 04:54] jdalton commented on #290
**Update:**

I've opened a WIP PR #295.

[2019-03-27 05:45] jdalton commented on #290
Closed by #295 :tada:

[2019-03-28 04:06] #290 closed, assigned to nobody

[2019-03-28 04:38] jdalton commented on #245
I can change this to a [`prepare`](https://docs.npmjs.com/misc/scripts#prepublish-and-prepare) script so that `gonzales-pe` will work for `git:` installs.

[2019-03-28 04:50] jdalton commented on #261
Hi @Aaronphy!

You should direct a PR towards [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped).

[2019-03-28 04:50] #261 closed, assigned to nobody

[2019-03-30 19:36] jdalton commented on #117
Is this considered unneeded by #115 being resolved?

[2019-03-30 20:43] #117 closed, assigned to nobody

[2019-03-30 20:43] tonyganch commented on #117
@jdalton, yeah, closing this one

[2019-04-14 21:06] jdalton commented on #77
Hi @immist!

This appears to no longer throw in 4.2.2+.

[2019-04-14 21:06] #77 closed, assigned to nobody

[2019-04-14 21:21] jdalton commented on #75
This is not fixed by #128.

[2019-04-14 21:22] jdalton commented on #111
Will this help with performance (is there an expensive lookup for these)?

[2019-04-14 21:24] jdalton commented on #118
I think `bin` is okay for now but may juggle things around in the future.

[2019-04-14 21:24] #118 closed, assigned to nobody

[2019-04-14 21:26] jdalton commented on #29
IE6/7 are long past their support date so I'm going to close as `wontfix`. If there's strong user demand we'll reevaluate.

[2019-04-14 21:26] #29 closed, assigned to nobody

[2019-04-14 21:30] jdalton commented on #135
Looks related to #75

[2019-04-14 21:30] #135 closed, assigned to nobody

[2019-04-14 21:31] jdalton commented on #122
Does this mean a [custom `inspect` function](https://nodejs.org/dist/latest-v11.x/docs/api/util.html#util_custom_inspection_functions_on_objects)?

[2019-04-14 21:36] #289 closed, assigned to nobody

[2019-04-15 01:01] shellscape commented on #135
FWIW I switched to PostCSS about two years ago and utilize their AST these days. Kudos for going through ancient issues.

[2019-04-19 04:49] jdalton commented on #123
Hi @DanPurdy!

I'm closing this because unless a PR is created it won't likely be addressed.
If you feel strongly about this request I encourage you to dig in and submit a PR 😸

[2019-04-19 04:49] #123 closed, assigned to nobody

[2019-04-24 06:26] xuzicn opened #296 "[SCSS]: fail to parse variable declaration when var name starts with $--"
Version: 4.2.4

Node Version: 8.11.3

Source Code
$--bg-color: #fff;

Error Message:
Please check validity of the block starting from line [#1]

[2019-04-24 06:28] xuzicn commented on #296
Node-sass can compile variable name which starts with two hyphens but Sass-lint report fatal error.

[2019-04-24 13:03] jdalton commented on #296
Thanks @xuzicn!

I'll dig into this.

[2019-05-29 06:44] zhuowenli commented on #296
Is there anything progress?

[2019-05-29 18:22] jdalton commented on #296
@zhuowenli Not yet! But if you want to take creating a PR a try please feel free to.

[2019-06-11 08:39] xuzicn commented on #296
I forked and do a temporary fix on v4.2.3 but I cannot guarantee that it's the proper solution.

https://github.com/xuzicn/gonzales-pe/tree/v4.2.3-var-name-with-double-hyphens

You need to compile source code by yourself.

[2019-07-09 16:46] weilinzung opened #297 "throw new ParsingError(e, css)"
An example that if I have `*display: inline;` that with an asterisk symbol.  Then it would cause errors:

[code]

That CSS framework is from a very old version of: https://github.com/csswizardry/inuit.css/blob/master/objects/_nav.scss

[2019-07-09 16:58] jdalton commented on #297
Hi @weilinzung!

`gonzales-pe` doesn't support CSS hacks at the moment.
See #29. Feel free to revive the PR effort of #286 if you're up for adding support though 😅

[2019-07-09 16:58] #297 closed, assigned to nobody

[2019-07-09 18:32] weilinzung commented on #297
@jdalton

does this library has an ingore option then?

[2019-07-09 18:36] jdalton commented on #297
@weilinzung I don't believe there's an ignore for this kind of error.

[2019-07-18 03:11] fernandohenriques commented on #296
@xuzicn Try send a PR with your fix.

[2019-08-29 10:11] bmitriy commented on #139
https://github.com/blockchain/blockchain-wallet-v4-frontend.wiki.git

[2019-08-29 10:12] bmitriy commented on #121
https://github.com/blockchain/blockchain-wallet-v4-frontend.wiki.git

[2019-08-29 10:13] bmitriy commented on #111
https://github.com/blockchain/blockchain-wallet-v4-frontend.wiki.git

[2020-01-14 19:56] gregjacobs opened #301 "[SCSS] Support interpolation in quoted strings"
Looks like interpolations aren't parsed inside quoted strings such as those provided to `url()`. For instance:

[code]

The value node comes out as:

[code]

The parsing of the interpolation works correctly if the quotes are removed from inside the of `url()`, but of course we can't guarantee that our users will do that :)

[2020-02-12 16:32] TheJaredWilcurt opened #302 "Can we get a new release?"
This was merged 5 days after the last release, 11 months ago:

* https://github.com/tonyganch/gonzales-pe/pull/295

[2020-02-19 17:42] olemarius opened #303 "\0, \9 and url(/my/path) without quotes breaks the parser"
**Examples**
The following cases cause error when parsing css files.
`margin-top: 1px \9; // IE8-9`
`width: 220px \0; //IE9 and below`

In my case the \9 hack is used in boostrap3, and \0 hack is used in boostrap-select plugin, so the workaround would be a find a way to strip the lines containing these hacks and add '' to url().

[2020-02-19 19:49] olemarius commented on #303
Workaround is to use https://github.com/ben-eb/stylehacks or wait for cssnano to support this in v4.2 https://github.com/cssnano/cssnano/issues/263

[2020-03-02 09:20] webartov commented on #290
The exact issue was not fixed.
Please see the comment with examples https://github.com/sasstools/sass-lint/issues/1248#issuecomment-475714471

[2020-03-17 06:37] RajaBellebon commented on #302
Hello, not sure if it is right issue to ask sorry @TheJaredWilcurt but when I get the latest version of the package in our project, I am getting

[code]

But in the `package.json` , it is using ` minimist "^1.2.0"`?

I try to run `npm install` locally on `dev` and it seems that the one in the repository has not been updated.

Maybe I am missing something...

Sorry for the issue highjack and happy

[2020-03-17 09:41] hugovk commented on #302
@RajaBellebon: It's the same issue, and will be fixed by a release.

The dev branch has ^1.2.0:

https://github.com/tonyganch/gonzales-pe/blob/cb4be1c6c22184b525c6b7252823de834235a963/package.json#L32

But the last release, v4.2.4 has 1.1.x:

https://github.com/tonyganch/gonzales-pe/blob/4c03cf9b3945ea1dd2486fa13ddf4b2d5450f3f0/package.json#L32

[2020-03-18 09:52] XhmikosR commented on #302
@jdalton @TheJaredWilcurt any chance you could get a new release out please? :)

EDIT: preferably after #304 is merged too so that everyone gets the fix without the need to do `npm audit fix` or similar.

[2020-03-23 09:43] DanielRyan opened #306 "npm audit fail for package minimist"
Running `npm audit` / `npm audit --fix` fails for package `minimist`.
https://www.npmjs.com/advisories/1179

[code]

[2020-03-23 18:58] Hypnosphi commented on #306
It's actually fixed in master, but still unreleased
https://github.com/tonyganch/gonzales-pe/issues/302

[2020-03-27 07:49] fabb commented on #306
@tonyganch please release a new version

[2020-03-29 20:51] fabb commented on #306
Since the repo owner is not responding, maybe @jdalton could you release a new version from `dev`?

[2020-03-30 14:02] Berkmann18 commented on #302
Yeah, that way packages that are dependent on this one like `postcss-sass` (so `stylelint` indirectly) can release updates with the vulnerability fixed.

[2020-03-30 14:29] tonyganch commented on #306
Published as v4.3.0 🐙

[2020-03-30 14:29] #306 closed, assigned to nobody

[2020-03-30 14:29] tonyganch commented on #302
Published as v4.3.0 🐙

[2020-03-30 14:29] #302 closed, assigned to nobody

[2020-03-30 14:57] fabb commented on #306
Thank you! ❤️

[2020-05-01 15:37] dustinpaluch opened #307 "MODULE_NOT_FOUND when run from CLI"
Installed globally with
[code]
Ran `gonzales test.scss` and got this error:
[code]

Node `v14.1.0`
Catalina `10.15.3`

[2020-09-30 07:10] wizardpisces opened #308 "readme link broken"
readme link : https://tonyganch.io/gonzales-pe/ broken

[2021-02-24 20:00] gregjacobs commented on #308
+1 - seems the site is down? Would be really useful to have for inspecting the AST!

[2021-02-24 20:14] gregjacobs commented on #308
(short of the website though, liking that the command line utility will print the AST 👍 )

[2021-06-01 17:26] lgenzelis commented on #308
Seems to be working now

[2021-07-14 06:08] lmeysel opened #312 "Inconsistent type mixin and atrule for SCSS parser"
Hi, i came accross an inconsitency while parsing SCSS.

To reproduce:
[code]

This example produces the following output (I removed the unnecessary information). The mixin produces a node with type `mixin` whereas the function produces an `atrule` containing a function.

Imho the mixin should also produce an `atrule` containing a mixin.

[code]

[2021-08-15 01:40] TheJaredWilcurt commented on #180
You could adopt ESLint-Plugin-JSDoc.

* https://github.com/gajus/eslint-plugin-jsdoc

I have documented my rules here:

* https://github.com/tjw-lint/eslint-config-tjw-jsdoc

Which look like this when in use:

* https://github.com/nwutils/create-desktop-shortcuts/blob/main/index.js#L10

[2021-08-26 13:37] lmeysel commented on #312
Not sure whether this should be a new issue, but another inconsitency occurs when parsing @each and @for loops.
While @for is wrapped in a _loop_/atkeyword/ident=for, whereas @each is _atrule_/atkeyword/ident=each

[2021-09-02 11:58] lmeysel opened #314 "Undocumented node type `functionsList`"
[code]

results in a tree where `bar-function` is wrapped in a node of type `functionsList`. This is analogous to `$foo...` which leads to `variablesList`.

Node type `functionsList` is not documented.

[2021-11-02 10:05] #308 closed, assigned to nobody

[2022-01-11 15:35] agenka opened #316 "Error The unauthenticated git protocol on port 9418 is no longer supported."
npm ERR! Error while executing:
npm ERR! C:\Program Files\Git\cmd\git.EXE ls-remote -h -t git://github.com/tonyganch/gonzales-pe.git
npm ERR!
npm ERR! fatal: remote error:
npm ERR!   The unauthenticated git protocol on port 9418 is no longer supported.
npm ERR! Please see https://github.blog/2021-09-01-improving-git-protocol-security-github/ for more information.
npm ERR!
npm ERR! exited with erro

[2022-05-02 10:23] andreaskoscinski opened #318 "Prototype pollution in minimist"
We are getting dependabot alert on version (4.2.3, but does not seemed to be patched in 4.2.4) about minimist.

Could you patch to include Dependabot recommendation please?

[2022-08-06 17:35] iliakan opened #319 "[sass bug?] Dies on math.div"
Dies on blocks like this, after `50/66` is replaced by `math.div(50,66)`:
[code]

Any way out?